[2022-06-21 22:47] aSaintjusteLAB714 opened #1 "Failed to resolve compile flags for chip.c"
**Environment**

Module or chip used: [ESP32-WROOM-32-E]
IDF version :  v4.4.1
Build System: [idf.py]

**Compiler version**
xtensa-esp32-elf: esp-2021r2-patch3-8.4.0
riscv32-esp-elf: esp-2021r2-patch3-8.4.0
esp32ulp-elf: 2.28.51-esp-20191205
cmake: 3.20.3
openocd-esp32:  v0.11.0-esp32-20211220
ninja: 1.10.2

**Operating System**: [Window]
**Using an IDE?**: [Yes]

**Problem Description**
Build fai

[2022-06-22 17:23] shubhamdp commented on #1
Basically issue is with the paths, paths on windows and linux/mac are different and comparison [here](https://github.com/project-chip/connectedhomeip/blob/master/config/esp32/components/chip/create_args_gn.py#L48) is failing.

I know how to fix this specific issue, but not sure what we would ran into after fixing this as this was never tested on Windows and we support only Linux and Mac as develop

[2022-06-22 20:27] aSaintjusteLAB714 commented on #1
@shubhamdp Thank you for you help. Please let me know what you find.

[2022-06-23 03:55] shubhamdp commented on #1
@aSaintjusteLAB714 If you'd like to give it a try, please apply the attached patch, [compare_paths.txt](https://github.com/espressif/esp-matter/files/8963536/compare_paths.txt).

[code]

and try to rebuild the example. This will fix the current error. If you encounter any more error please post them here

[2022-06-24 05:09] shubhamdp commented on #1
@aSaintjusteLAB714 did you get a chance to try out the patch?

[2022-06-24 16:20] aSaintjusteLAB714 commented on #1
@shubhamdp  I did see that path issue was resolved, but I ran into another issue.

When I attempted to build the project it failed.
I see that in the console output that it was unable to load the "build_overrides/build.gn" file.
When I open "build_overrides" file it contain " ../../examples/build_overrides".

[code]

[2022-06-30 10:57] chshu commented on #1
@aSaintjusteLAB714 I'm afraid that Matter SDK doesn't support Windows build environment yet.

As documented in esp-matter docs: https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html#host-setup, as well as CHIP upstream setup guide: https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md, only Linux and MacOS are supported.

[2022-07-01 14:16] aSaintjusteLAB714 commented on #1
@chshu Thank you for you assistance. I will be trying this on a MacOS

[2022-07-10 11:22] dhrishi commented on #1
Not sure. If it is supported then the upstream connectedhomeip documentation will be updated accordingly.

I will close this issue now

[2022-07-10 11:22] #1 closed

[2022-07-12 06:52] sunhuil opened #2 "chip-tool配网时报错"
使用idf-4.4.1分支
相关日志如下：
sevan@sevan-vm:out$ ./chip-tool pairing ble-wifi 0x7283 HiWiFi_2CC364 nekteck2014 20202021 3840
[1657608648.092822][8874:8874] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_kvs
[1657608648.092995][8874:8874] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_factory.ini
[1657608648.093048][8874:8874] CHIP:DL: ChipLinuxStorage::Init: Using KV

[2022-07-12 07:01] dhrishi commented on #2
@sunhuil Please provide details about the setup. Host is Linux/Mac? Device is ESP32 or ESP32-C3 or any other? Also, does this issue happen everytime? From the logs, it looks like a timeout. Please share the logs on the device side too.

[2022-07-13 17:50] giandub opened #3 "Light example build error"
Executing action: all (aliases: build)
Running cmake in directory /home/giandub/esp-matter/examples/light/build
Executing "cmake -G Ninja -DPYTHON_DEPS_CHECKED=1 -DESP_PLATFORM=1 -DCCACHE_ENABLE=0 /home/giandub/esp-matter/examples/light"...
CMake Error at CMakeLists.txt:6 (message):
  Please set ESP_MATTER_PATH to the path of esp-matter repo
-- Configuring incomplete, errors occurred!
cmake failed

[2022-07-13 19:34] Diegorro98 opened #4 "[Feature request] PlatformIO integration"
Maybe it's too soon to ask for it, but would be great to have the multiple features that PlatformIO offers to developers, and recently [Espressif collaborates with PlatformIO Labs](https://www.espressif.com/en/news/PlatformIO_ESP_collaboration).

I have tried to migrate the light example to a esp-idf framework based PlatformIO project, but it has been impossible for me. As I don't have too much ex

[2022-07-14 12:54] Diegorro98 commented on #4
I'm to create this issue at [PlatformIO espressif32 repo](https://github.com/platformio/platform-espressif32), because I think that is an issue that should be in both repo.

[2022-07-21 14:24] thecashit opened #5 "Custom device network possibilities with esp-matter framework"
Hi there,

Currently we have firmware based on esp-idf that fully covers all device functionality. It uses both Wi-Fi and BLE.

How can we merge current firmare with esp-matter framework?
1) Are there possible to launch esp-httpd server simultaneously with matter?
2) Are there possible to setup wi-fi credentials code behind?
3) Are there possible to add custom BLE Services and Characteristics simu

[2022-07-22 07:07] chshu commented on #5
@thecashit  It's definitely possible to integrate Matter with your existing application, both are application tasks based on esp-idf.

Yes, Matter runs in a separate task, you can launch esp-httpd in main task or separate task as well.

Wi-Fi provisioning is part of the normal Matter commissoning process. But if you alreay have your own way to setup Wi-Fi credentials, it's also doable using Matter

[2022-07-25 05:20] dhrishi commented on #2
@sunhuil Do you have any updates to share?

[2022-07-26 09:42] dhrishi commented on #2
Closing this due to lack of response. Feel free to re-open with the details.

[2022-07-26 09:42] #2 closed

[2022-07-27 10:17] thecashit commented on #5
@chshu Thank your very much for detailed explanation.
I was checked information and it is really seems like it it achievable task.
The one thing i cannot find - how to provide Wi-Fi credentials to Matter and get ones after Matter provisioning.
Could you please provide a little more information?

[2022-07-27 14:06] chshu commented on #5
There maybe some misunderstanding on the word "provide Wi-Fi credentials to Matter".
Say a device need to get the Wi-Fi credentials to connect to Wi-Fi AP / IP network, it can either:
1. use matter commissiong via BLE, once done, the device will get Wi-Fi credentials, connect to the Wi-Fi network, and join the Matter fabric;
2. use some other non-matter method to get Wi-Fi credentials (it's out of

[2022-07-29 13:17] jonsmirl opened #6 "Switches in esp_matter_endpoint.h missing groups cluster"
namespace dimmer_switch {
typedef struct config {
    cluster::identify::config_t identify;
    cluster::binding::config_t binding;
} config_t;

uint32_t get_device_type_id();
endpoint_t *create(node_t *node, config_t *config, uint8_t flags);
} /* dimmer_switch */

namespace color_dimmer_switch {
typedef struct config {
    cluster::identify::config_t identify;
    cluster::binding::config_t bindi

[2022-07-29 13:20] jonsmirl opened #7 "Thermostat need temp/humid sensors"
Thermostat needs to be able to bind to remote temp/humid sensors.

[2022-07-29 13:22] jonsmirl opened #8 "Inclusion of Thread diagnostics in Root node"
This should have IFDEF and be conditional on Thread being enabled.
Similarly for wifi diagnostics.

[2022-07-29 13:25] jonsmirl opened #9 "Node is too generic, use RootNode"
These should be called RootNode to follow spec.

    /* Create a Matter node */
    node::config_t node_config;
    node_t *node = node::create(&node_config, app_attribute_update_cb, NULL);

[2022-07-29 13:33] jonsmirl commented on #9
Maybe like this?

    /* Create a Matter RootNode endpoint */
    root_node::config_t root_node_config;
    node_t *node = node::create(&root_node_config, app_attribute_update_cb, NULL);

    /* add on/off switch endpoint */
    on_off_switch::config_t switch_config;
    endpoint_t *endpoint = on_off_switch::create(node, &switch_config, ENDPOINT_FLAG_NONE);

[2022-07-29 13:49] chiragatal commented on #9
Node here is more of a generic term. And when `node::create()` is called, it internally adds the mandatory root_node on endpoint 0.

[2022-07-29 13:56] jonsmirl commented on #9
Useful to explain the side effect of root_node creation via a comment in the example sources.

[2022-07-29 13:57] chiragatal commented on #6
The groups cluster is optional. In the default `<devce_type>::create()` APIs, only the mandatory clusters are added. The endpoint_t handle can then be used to add any optional clusters, for example `groups::create()` in this case.

(This is also true for any clusters and its features; only the mandatory attributes and commands are added.)

[2022-07-29 13:58] chiragatal commented on #9
Yeah, it makes sense, now that you mention it. It is easy to get confused between node and root_node.

[2022-07-29 14:00] chiragatal commented on #8
This is already being done in `root_node::create()`: https://github.com/espressif/esp-matter/blob/main/components/esp_matter/esp_matter_endpoint.cpp#L77

[2022-07-29 14:09] jonsmirl commented on #8
it is wasting ram here....

namespace endpoint {
namespace root_node {
typedef struct config {
    cluster::basic::config_t basic;
    cluster::ota_requestor::config_t ota_requestor;
    cluster::general_commissioning::config_t general_commissioning;
    cluster::network_commissioning::config_t network_commissioning;
    cluster::general_diagnostics::config_t general_diagnostics;
    cluster::admi

[2022-07-29 14:11] chiragatal commented on #7
Temperature and humidity measurement, both are optional for thermostat. Temperature measurement can optionally be added to the endpoint using the endpoint handle. Humidity measurement has still not been added in this sdk. Once done, it can also be then added to the endpoint.

[2022-07-29 14:15] chiragatal commented on #6
Actually, the optional groups cluster is being added currently: https://github.com/espressif/esp-matter/blob/main/components/esp_matter/esp_matter_endpoint.cpp#L216. Since client clusters don't have any attributes, the config for groups this is not needed in the switch config.

But since this is optional, I think it should be removed from here.

(From this, it seems like there should be some docum

[2022-07-29 14:19] thecashit commented on #5
@chshu  Thank you for clarification.
But while investigate Matter scope i really can't understand 2 things.
That'se will be great if you will help with that.

Let's see what we will try to achieve.

1) Firmware start and check Wi-Fi hotspots nearby
2) Firmware check saved Wi-Fi credentials list and if there is match should start Matter scope with SSID credentials provided. So - now we have SSID an

[2022-07-29 14:20] chiragatal commented on #8
Temporarily, yes. The node::config_t is currently a local variable in the examples, and so the memory used is freed up. But yes, it can be optimised further by just adding those ifdefs.

[2022-07-29 14:24] jonsmirl commented on #6
The goal is to get this use case working....
https://github.com/project-chip/connectedhomeip/issues/21243

To do that the Switches need to be group clients and the lights group servers.

[2022-07-29 14:34] dhrishi commented on #6
You can enable any of the optional clusters/attributes/commands as per your usecase in the application code. The provision to handle them would be made in the SDK but they won't be added to the default cluster APIs.

[2022-07-29 14:54] jonsmirl commented on #6
Nice to have a paragraph in esp-matter docs explaining that you don't differentiate between client and server clusters. In your model the full client and server API is always available and then the linker decides whether to include the methods or not.  This will need to be explained to people coming off from SiLabs where since they will be searching for client/server modes.

[2022-07-29 17:29] jonsmirl commented on #9
Need to come up with different names for these various things...
BLE is using node too. Too many uses of the same word.

For a start...
node_t *node = node::get();
to
device_t *device = device::get();

Should that root_node be automatically created? How do you get a pointer to it to add optional clusters?

[2022-07-29 17:38] jonsmirl opened #10 "How to deal with multiple Indentify typedefs"
In Light app_main.cpp VSCode is complaining that type Identify is ambiguous. The compiler processes this without complaint.
Unfortunately VSCode does not show me the alternative definitions.  Maybe something to do with CHIP being part of project. Now esp-matter and CHIP namespaces both active.

![image](https://user-images.githubusercontent.com/14943/181825117-29048be4-f6c3-4131-84d6-e66219bb8be8.

[2022-07-30 14:32] jonsmirl opened #11 "blemesh example almost working, proxy issue?"
I have blemesh example all compiled, installed and 98% working on a pair of C3s.

Is it proxying the state inside the bridge? Because I appear to be able to get the bulb and the bridge out of sync in what state they are in.  If proxy is correct I should not be able to get these messages....

I (1427464) EXAMPLE: event 0x00, opcode 0x8202, src 0x0001, dst 0x0005
I (1427464) EXAMPLE: ESP_BLE_MESH_GE

[2022-07-30 17:56] jonsmirl opened #12 "VSCode can't find component, command line build can."
`> idf.py build`
works from command line

When I do same build from VSCode IDE:

[code]

[2022-07-30 18:25] jonsmirl commented on #10
This is part of the problem:

static void on_identify_trigger_effect(Identify *identify)
{
    ESP_LOGI(TAG, "currenr identify trigger effect id: %d", identify->mCurrentEffectIdentifier);
}
using namespace chip::app::Clusters;

If you declare the namespace after on_identify_trigger_effect() it works. Move it in front and it becomes ambiguous.  I have not dug deep enough into this to understand why

[2022-07-30 18:27] jonsmirl commented on #12
The components have to be declared in CMakeLists.txt to make the IDE happy.

set(PRIV_REQUIRES_LIST device esp_matter esp_matter_console route_hook app_qrcode app_reset esp_matter_identify esp_matter_ota app_bridge)

[2022-07-30 18:39] #12 closed

[2022-07-30 18:40] #7 closed

[2022-07-31 01:24] jonsmirl opened #13 "USB JTAG on C3, timeout errors"
I can't get the USB JTAG on the C3 to work on my ELF file. Likely because it is 50MB. I keep getting timeout errors.
[code]
So how do I get rid of all of the internal symbols from the CHIP library?
Any other ideas on how to get JTAG working?

[2022-07-31 03:53] InfiniteYuan commented on #11
From your description, I am still not clear about the problems you encountered in using it.

There are following concept:
1. **BLE Mesh Proxy Feature**: The Proxy feature is used to relay/forward Network PDUs received by a node between GATT and advertising bearers. It is suitable for BLE Mesh Node.
2. **Matter Proxy(Subscription Proxy)**: A subscription proxy is a type of Node that is capable of m

[2022-07-31 09:52] jonsmirl commented on #11
I have the entire example working in general.

What I believe is going on....the state of the light bulb (on/off) is stored in two places: the bulb and a proxy value in the bridge. If everything is working correctly those two states are always in agreement.  But if things aren't working correctly the state in proxy is different than the state in the bulb.  When these states get out of sync (not in

[2022-07-31 12:56] jonsmirl opened #14 "Handling local vs network actions"
In the light demo toggling the bulb is handled locally.
[code]
In the light-switch demo toggling the bulb is handled via the network
[code]
So how do I implement the use-case described in this issue?
https://github.com/project-chip/connectedhomeip/issues/21243

You can't just do both actions because the toggle will happen twice, once locally and again when it arrives via the group.

So I see two o

[2022-07-31 14:45] jonsmirl commented on #14
I made this issue on CHIP
https://github.com/project-chip/connectedhomeip/issues/21470

Can you please help push it with them so that they don't ignore it?

[2022-07-31 17:08] #14 closed

[2022-07-31 18:03] jonsmirl opened #15 "Local vs bound actions"
We're building dimmers which have the 'Light' and the 'Light Switch' in the same device.

I think there is a better way to do local vs bound actions. The main idea is to remove the awareness of being bound from the user code.  So when an off button is pressed, my code should always do something like:
            on_off::command::send_off();
This should work in the 'Light' example too which does no

[2022-07-31 23:24] jonsmirl opened #16 "blemesh bridge and Sengled (Telink) BLE mesh light"
I'm new to BLE Mesh, can you explain to me how to pair the Sengled (Telink) bulb?

I'm able to pair and control Sengled from rRF Mesh app. I just need to pick "No OOB" when provisioning. I don't need to enter a key on the Sengled, just click ok to "No OOB'. Then bind with key the app gives me and I can turn it on-off.  I can also use the nRF Mesh app to pair with the Espressif on_off server. ESP d

[2022-08-01 01:19] jonsmirl opened #17 "When creating endpoints allow passing in user data"
In our keypad I need to create eight identical endpoints containing: dimmable_light,  switch and generic switch. So when I am iterating in app_driver_attribute_set_defaults I need to be able to map the endpoint to a pointer into my data structure. This will let me pass the same pointer into the triplets of (light, switch, generic_sw) and associate them with each other.

Do clusters need user data?

[2022-08-01 01:22] InfiniteYuan commented on #11
`W (1483804) BOARD: led red is already on` This log informs that the red LED has been turned on. It happens when continuous control turns on the lights.

[2022-08-01 05:14] chiragatal commented on #9
The root_node is being automatically created just to keep the application code simple and cover most of the use-cases. But if optional clusters are always being added to root_node, we can move the creation of root_node also to the application instead of doing it internally.

With the current implementation, you can get the endpoint handle for the root node with this:
[code]

[2022-08-01 05:26] chiragatal commented on #10
Ideally the namespace should have been at the top with others. I think this would be a problem of not rebasing before merging.

Regarding the ambiguity, I am not sure where it could be coming from. esp-matter has `identify` namespace for the cluster and attribute, but it is all lower case.

[2022-08-01 07:31] chiragatal commented on #17
Is your end goal to just have a user_data or like a led_handle (similar to the current button_handle) and use it in the driver? Or do you have some other requirement/use-case with the user_data as a part of the endpoint?

[2022-08-01 10:55] InfiniteYuan commented on #16
There some code about uuid match: [esp_ble_mesh_provisioner_set_dev_uuid_match](https://github.com/espressif/esp-matter/blob/main/examples/blemesh_bridge/main/app_blemesh.c#L638-L643). Please take a look

[2022-08-01 14:50] jonsmirl commented on #16
The UUID is 0x85ea vs 0xdddd. I set match length to zero and it can now see the bulb.  Is the point of this matching to retrieve different security keys for the device? I have the security key, it is printed on the box, but the device also works without it.

Now I am at composition failing.
I (9883) app_ble_mesh: ble_mesh_config_client_cb, error_code = 0x00, event = 0x00, addr: 0x0008, opcode: 0x8

[2022-08-01 14:58] jonsmirl commented on #10
This name space, 'using namespace chip::app::Clusters;' is also declaring Identity.

Move the that line above the trigger function and you can't compile anymore.

[code]

[2022-08-01 15:10] jonsmirl commented on #17
When I create 8 identical end points I need some mechanism to tell which copy of my internal data is associated with the end point.  In the existing samples this is not an issue because you aren't creating multiple, identical endpoints - there is a single data structure.

A handle and user data pointer are basically the same thing.   I'm trying to store a pointer to the data structure I allocated

[2022-08-01 18:19] jonsmirl opened #18 "Encryption performance in Matter on ESP chips"
Turning my BLE Mesh bulb on/off with Matter is taking 5.1 seconds. Turning the same bulb on/off with nRF Mesh app is so fast I can't see a delay. The delay is in the Matter code, not the BLE code.  I am using C3, is this how slow encryption is on the C3, 5.1s?  ESP32 is 3.2 seconds for same code.

How much difference does adding ATECC608B in make? I don't have an ESP32-WROOM-32SE. I have some ATEC

[2022-08-01 18:23] jonsmirl commented on #16
I disabled the Composition check and allowed everything into the block. Now I can pair and control these Sengled mesh BLE bulbs.  It would be useful if there was a check on UUID like there is on Composition which prints out the mesh UIDs seen and not matched. That would have pointed me at the UUID issue earlier.

I would recommend adding a section to the blemesh docs explaining about UUIDs and Com

[2022-08-01 22:44] jonsmirl commented on #18
I wired my ATECC608B into a WROOM but it doesn't want to work. Maybe it is bad, I have not used it in five years so I ordered some new ones.  I tried to get examples/peripherals/secure_element/atecc608_ecdsa working. If I'm reading things correctly this chip support works with MBED TLS so Matter will pick it up automatically once it is working. If you can test on your end before my new parts arriv

[2022-08-02 11:59] Diegorro98 opened #19 "Missing features in light example after commissioning at Home Assistant"
I've been testing commissioning and controlling devices in Home Assistant, the [given examples](https://nabucasa.github.io/matter-example-apps/) given by Nabu Casa works, but flashing the light example from this repo, results in missing features on the device.

This how the given example looks like: (It has Product name, vendor name, hardware version, and the light control)
![Working light example

[2022-08-02 13:26] chshu commented on #5
@thecashit Understood the mechanism you want to achieve, it's indeed a customized use case. A quick answer to your Points  is that all Wi-Fi related operation can be done using ESP's Wi-Fi APIs, Matter application and other non-Matter applicaiton (including you own code logic) could coexist, they all call into Wi-Fi APIs to configure Wi-Fi and register the callback to receive the Wi-Fi events (lik

[2022-08-02 14:13] jonsmirl commented on #18
I set my ESP32 to use 240Mhz clock.  Now it runs in 2.6 seconds. This really needs to be under one second to make consumers happy. Hopefully when my ATECC608B arrives it will be enough to get down to one second.

I still think one second is still ridiculously slow for an IOT device. The encryption being used in Matter is excessive.

[2022-08-02 14:19] jonsmirl commented on #18
How do I get the idf to build a release version of CHIP in esp-matter?

[2022-08-02 17:37] jonsmirl opened #20 "Session resumption and chip-tool"
Please adjust the documentation to reflect using chip-tool in interactive mode:
./chip-tool interactive start

Also explain that first time session is made it takes about 5 seconds, then if you keep the session open subsequent command run in 1.1 to 1.5 seconds.   This needs to be explained to ensure customers come to the right conclusion on ESP Matter performance.

This avoids doing the session se

[2022-08-02 20:54] jonsmirl commented on #18
This is not as dire as I though it was. It is accurate for the first interaction with the device, if you keep the session open to the device subsequent interactions are faster.

Please adjust the documentation to reflect using chip-tool in interactive mode:
./chip-tool interactive start

Also explain that first time session is made it takes about 5 seconds, then if you keep the session open subseq

[2022-08-03 09:36] dhrishi commented on #19
@Diegorro98 If you are trying with the esp-matter `light` example then it creates a `color temperature light` device type which is currently not supported with Home Assistant. See here: https://developers.home.google.com/matter/supported-devices

You can simply change the example code to make the light as a `dimmable light` (similar to the upstream lighting example you've mentioned above). With th

[2022-08-03 09:37] dhrishi commented on #20
Yes, we will update the instructions soon.

[2022-08-03 12:14] Diegorro98 commented on #19
I tried the changes you suggested me, at first didn't work. But after erasing the flash and clean build the example it worked!
I can control the light and the bright. Thank you!

[2022-08-03 12:22] dhrishi commented on #19
@Diegorro98 Glad to know. Erasing flash is required as the commissioning with the correct device type needs to happen again.

I will still keep this issue open until we have a resolution on the 2nd part.

[2022-08-03 15:34] jonsmirl commented on #18
Chip tool prints timestamps on its log messages, you can just read it off from the screen.

In interactive mode, to toggle bridged BLE light:
ESP32 240Mhz -- 1.14 seconds
ESP32C3 -- 1.52 seconds

No bridge
ESP32C3 -- 1.2 seconds

These may not be totally accurate, I'm not sure what chip-tool is doing for 0.8 seconds before it sends the first packet. This performance is a lot better, but I would st

[2022-08-03 15:54] dhrishi commented on #18
I see, for multiple attempts, the time required is around 0.3 sec for the light example on ESP32-C3 (using the same chip-tool timestamp prints)

[2022-08-03 15:58] jonsmirl commented on #18
I would not be surprised if the 1.3s I was see in the evening yesterday was 2.4Ghz saturation around me from people streaming TV. I am get 0.3 this morning when everyone has gone to work.

[2022-08-03 15:59] dhrishi commented on #18
This is an experiment worth doing

[2022-08-03 16:22] jonsmirl commented on #18
I was getting these messages on the ESP last night, none this morning,
[code]

[2022-08-03 18:16] shubhamdp commented on #19
For second part i.e setting device instance information:

Can you please apply [0001-Set-device-instance-info-provider-to-read-data-from-.txt](https://github.com/espressif/esp-matter/files/9253988/0001-Set-device-instance-info-provider-to-read-data-from-.txt). We'll also release this patch sooner.

Enable `CONFIG_ENABLE_ESP32_FACTORY_DATA_PROVIDER` and `CONFIG_ENABLE_ESP32_DEVICE_INSTANCE_INFO_PRO

[2022-08-03 20:52] jonsmirl commented on #13
If you build openocd from source, https://github.com/espressif/openocd-esp32, it will work.
The openocd in IDF 4.4.1 does not work on this large C3 file.

[2022-08-03 20:55] jonsmirl commented on #13
This needs to be added to the docs for this project.

You need to make up a version number for bootstrap before it will run....
I randomly picked 9.5, probably some script to do this, don't know what it is.
diff --git a/configure.ac b/configure.ac
index f0324a651..a146f1962 100644
--- a/configure.ac
+++ b/configure.ac
@@ -1,7 +1,7 @@
 # SPDX-License-Identifier: GPL-2.0-or-later

 AC_PREREQ(2.64)
-

[2022-08-03 20:58] jonsmirl commented on #13
Maybe you can push out an IDF 4.4.2 with this fixed openocd so other people don't need to spend a day debugging this.

[2022-08-04 02:52] dhrishi commented on #18
This message is seen when STA misses the beacon. Generally, it can happen when the AP is far away or sometimes when the Wi-Fi network is crowded

[2022-08-04 07:48] igrr commented on #13
@jonsmirl have just pushed 4.4.2 yesterday: https://github.com/espressif/esp-idf/tree/v4.4.2, it comes with the newer OpenOCD version (v0.11.0-esp32-20220411).

[2022-08-04 08:21] dhrishi commented on #13
Thanks @igrr. We will officially move to v4.4.2 soon, for Matter.

[2022-08-04 10:31] dhrishi commented on #17
Thanks! This is useful and will be applicable in many of the usecases. We have added a provision to pass user data to the endpoints

[2022-08-04 10:31] #17 closed

[2022-08-04 10:33] dhrishi commented on #10
Can you please confirm if you face issues with the latest code? Please close the issue if you don't.

[2022-08-04 12:35] #10 closed

[2022-08-04 18:36] #11 closed

[2022-08-04 18:59] #15 closed

[2022-08-04 19:07] thecashit commented on #5
@chshu Thank you very much for the explanation, everything became clear.
I'll try to figure it out soon and run some tests.

The use case is quite simple - the user can move the device between different locations, each with its own SSID ... But yes, in this case, most likely Matter will not be able to connect to the controller, since the controllers will be different.

Thanks again for the clarifi

[2022-08-04 19:07] #5 closed

[2022-08-04 21:24] jonsmirl opened #22 "ENABLE_CHIP_SHELL"
If I turn on ENABLE_CHIP_SHELL in the ble bridge example, it won't link.  But the light and light_switch examples have it turned on and they do link. What is the difference?

[2022-08-04 21:55] jonsmirl commented on #18
I don't see any huge problem now with encryption speed. If you wanted to reduce that initial 5 seconds I suspect an ATECC608B would help.  The other bug references documenting how to properly test this.

[2022-08-04 21:55] #18 closed

[2022-08-04 21:59] jonsmirl commented on #16
I understand now that modifications to UUID and Composition are needed before I can the Sengled bulbs. Once you make those mods the bulbs work. I might suggest that the example app loosen up it constraints to allow more BLE Mesh devices to work (especially the UUID one). Showing how to do that would make the example more useful.

[2022-08-04 21:59] #16 closed

[2022-08-04 22:00] jonsmirl commented on #6
Add the bit about client/server to the docs?

[2022-08-04 22:00] #8 closed

[2022-08-05 01:51] InfiniteYuan commented on #22
because of ble mesh bridge example use external platform, does not support shell. PTAL: https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html?highlight=custom#advanced-setup

[2022-08-05 12:37] Mallik-Tarigopula opened #23 "ESP32C3 Matter"
Hi Espressif team,
   I started working on Matter Protocol on ESP32C3 dev Kit.
   I am able to setup ESP-IDF on ubuntu 20.04 system.
   I am able to load example 'light' on the module. While commissioning the device using 'Espressif-Matter' App available on App store it got failed. Please find the attached screens for your reference. Please look into it ad guide me how to proceed.
   Also How will

[2022-08-05 14:48] ajay-gantayet commented on #23
Hi @Mallik-Tarigopula,  I was able to successfully commission the light example from the esp-matter repo using the Espressif-Matter App Store app and the following commit IDs for esp-matter and connectedhomeip.

esp-matter: f61e804313a3084dfff5e4755fa5df21eda1bb21
submodule connectedhomeip:  c1d543182fccd0c37c03379602a86fddadff68b1

Could you please test using the above commit IDs? PFA the commiss

[2022-08-05 16:26] dhrishi commented on #23
If you are using the iOS phone app, why do you specifically need the node id?

Yes, you need only one module/devkit and can use the host-based chip-tool to commission and control it. You can follow the instructions [here](https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html#development-setup)

[2022-08-05 16:44] dhrishi commented on #19
@Diegorro98 Did you get a chance to try it out

[2022-08-05 16:45] dhrishi commented on #13
Will close this issue as the original problem is resolved

[2022-08-05 16:45] #13 closed

[2022-08-05 16:53] jonsmirl commented on #22
I'll close this, but it would be nice to be able to turn the Matter console on in the ble router. I am combining the BLE router into a standard Matter device.

[2022-08-05 16:53] #22 closed

[2022-08-05 16:59] jonsmirl opened #24 "Extending BLE Mesh router for Espressif sensor sample"
It would be nice to extend the BLE router example to support this other Espressif example:
[code]
That would add temp/humid sensor support to the mesh router sample.

How are contact sensors supported in BLE Mesh? In this new Matter video you used a Zigbee one.
https://www.youtube.com/watch?v=Jr4Lut_NgqA
What is the BLE mesh equivalent?

[2022-08-05 17:38] jonsmirl opened #25 "A switch and a bulb walk into a bar..."
Or maybe it was a BLE/Zigbee bridge. If you try to bind these two devices, are you going to run into the self-bind not allowed problem?

[2022-08-06 17:26] jonsmirl opened #26 "More concise syntax"
Instead of...
[code]
this would be much more convenient
[code]
Something along those lines.  This current syntax is very verbose. Maybe
[code]
I've forgotten my C++ can you pass types like this? I can in Kotlin.

Or will this introduce a base class that then causes all of the dependent classes to get linked in even if you don't reference them? AWS C++ lib has that problem. Use a single API and the

[2022-08-06 20:35] Diegorro98 commented on #19
Hi! Sorry for the delay, I've been disconnected for some days and I'm testing it.
First, I should mention that flash address given in this comment

maybe is wrong, because I tried and the output at the console was the following:
[code]
I checked `partitions.csv` at the example and the nvs partition seems to have 0x10000 offset, so I specified to write on that flash address after erasing the whole

[2022-08-06 22:43] Diegorro98 commented on #19
Sorry, I completely forgot to apply the changes at `esp_matter_core.cpp`. I just tested with them, there are still errors, but now are different. At boot:
[code]

Running command at console:
[code]

Although that, it worked and I have been able to set product name, vendor name and hardware version and its visible at Home Assistant!

I'm going to leave the issue open just in case that the error log

[2022-08-06 23:30] jonsmirl opened #27 "Sending Matter commands"
Why do you trigger this update when nothing has been changed? client::cluster_update() is used to indicate attributes have been changed, right? It does not have anything to do with commands.
[code]
and then end up in this routine with the problem of passing g_cluster/g_command
[code]
instead of just directly sending the command?
[code]
And internal to the stack figure out (peer_device, remote_endp

[2022-08-07 03:28] jonsmirl opened #28 "toogle in Light"
Doesn't toggle need to look like this to trigger subscription notifications?
[code]

[2022-08-07 03:55] jonsmirl opened #29 "Replace broken device API"
Suppose my device dies and I buy another identical device. In my current home system you would use the "Replace Device" button to copy the state of the broken device into the new device.  So how do you save the state of a Matter device so that you can restore it later?  The key part here is saving multiple fabrics and device IDs and then restoring them. But there is a lot of other state - bindings

[2022-08-07 04:11] jonsmirl commented on #25
This is a core Matter issue, I filed it as a Matter issue. I doubt if they will fix it.

[2022-08-07 04:11] #25 closed

[2022-08-07 09:34] AchimPieters opened #30 "ESP_MATTER_PATH"
Hello All,

**Running Docker:** `espressif/idf: v4.4.1`

**Running local:** `~/esp-matter`

**execute:** `docker run -it -v ~/ESP-MATTER:/project -w /project espressif/idf:v4.4.1`

**run:** ` idf.build`

**error:**

`Executing "cmake -G Ninja -DPYTHON_DEPS_CHECKED=1 -DESP_PLATFORM=1 -DCCACHE_ENABLE=1 /project/examples/light"...`
`CMake Error at CMakeLists.txt:6 (message):`
`Please set ESP_MATTER_P

[2022-08-07 14:08] jonsmirl opened #31 "Matrix keypad library"
Is there a library implementing 4x4 matrix keypads somewhere? We need single click, double click, long press, etc -- just like the ESP IOT Button library but using a keypad matrix.  I expected this to be in the ESP IOT solution but I don't see it there.

Like how this is wired...
https://programmer.ink/think/stm32-4-4-matrix-keyboard-external-interrupt-trigger-mode.html

Could you please ask the I

[2022-08-07 17:24] Diegorro98 commented on #28
Is this the way to trigger subscription notifications?
[code]
I want to use in my project to notify changes at the attributes, but I didn't know how to do it

[2022-08-07 17:48] jonsmirl opened #32 "Multiple lights exposed by BLE bridge"
If my switch is on the same device with the BLE Bridge, and I group the lights and then bind the switch to the group, is it going to work? Or is it going to hit the loopback problem? It is easy to merge the BLE bridge and light_switch example code to set this up for testing.

[2022-08-07 22:34] jonsmirl commented on #31
Here is the Arduino Keypad library, it is GPL
https://github.com/Chris--A/Keypad

But it needs clean up to be compatible with the Espressif IOT package

[2022-08-08 02:27] chshu commented on #30
[code]

You may refer to the esp-matter setup docs: https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html

[2022-08-08 04:19] chiragatal commented on #26
I think something like the second option you mentioned can be done pretty easily (but with the namespaced IDs for cluster and attribute). They would just be wrapper APIs to the current APIs, and you can just call this 1 API instead of the current 4.

[2022-08-08 04:30] chiragatal commented on #27
Our idea was to reuse the command_send APIs for bound devices (which uses the binding table) and also for the controller use-case. The same flow (cluster_update followed by command_callback) can be used for both.

This is also helpful when the other device is not already connected. The command_callback then happens asynchronously.

[2022-08-08 04:45] jonsmirl commented on #27
[code]
Would go into the library code wait for the library to sort things out -- like connect if needed. app_driver_client_command_callback would be in the library instead of the app. Hide this stuff from the user application.
The app does not need to know how you are achieving this.
[code]

[2022-08-08 04:47] jonsmirl commented on #27
And for this... pass in a pointer to the function instead of the command ID. Then you don't need the if-then.
[code]

[2022-08-08 05:39] shubhamdp commented on #19
Specs mentions few mandates on how to store the passcode and verifier on the device and that has not been implemented yet. And not storing passcode in the device is also a valid case and it that we have implemented.

So the error logs you posted are not an actual issue.

[2022-08-08 08:40] #19 closed

[2022-08-08 13:45] jonsmirl commented on #27
I believe the problem you are running into with g_command_id/g_cluster_id is that they can't live on the stack. So use this
[code]
To call into the esp-matter stack and allocate a structure..
[code]
Then inside the esp-matter stack pass this message around in a queue or something waiting for connect/etc to finish. Then when everything is set up you can call the command and delete the struct.  . Yo

[2022-08-08 15:06] jonsmirl commented on #31
This library needs to be interrupt based, the Arduino one is polled.  The stm example linked above is interrupt based.

[2022-08-08 18:14] jonsmirl opened #33 "How do I run the certification tests for the esp-matter Light example?"
What are the CHIP commands to do a certification test using the Light example as a testing target? I don't care if it passes, I would like to know exactly how to run the tests using a physical device.

[2022-08-09 02:54] dhrishi commented on #33
Currently, the certification tests are a combination of automated and manual tests. The automated tests have a dependency on test harness to be the controller/commissioner for a commissionee DUT. The manual tests need to be executed step by step as per the test case execution document. In short, there aren't any test utilities or test applications on the DUT to run certification tests, as of now.

[2022-08-09 03:00] #33 closed

[2022-08-09 03:17] dhrishi commented on #23
@Mallik-Tarigopula Do you have any updates to share?

[2022-08-09 04:00] dhrishi commented on #6
Yes, will see if we can add the documentation at some appropriate location. Closing the original issue as it is addressed.

[2022-08-09 04:00] #6 closed

[2022-08-09 04:26] dhrishi commented on #28
The upstream SDK code takes care of providing the subscriber with the reports and the application does not need to worry about that. In short, the current light example (without any changes) here, does report data when subscribed. Steps to try out:

[code]
After this, if you locally update the on-off attribute on the light using the push button or the CLI, then you will see the subscription report

[2022-08-10 17:37] Diegorro98 commented on #28
In my case I needed to notify the update avoiding using `attribute::update`, because using that caused an unwanted behavior, so I explored how it worked and I found that `MatterReportingAttributeChangeCallback` is the function that notifies the changes.
I explored how it was called and this the final solution that I achieved:
[code]
I used a 0 for the second argument because I didn't need send any

[2022-08-11 12:14] dhrishi commented on #28
Hi @Diegorro98 I didn't clearly understand this -

Currently, whenever any attribute is updated (through any means) or an event is generated then the subscriber gets a report. Do you mean that you need to explicitly notify the update without updating the attributes? If yes, I don't know if that will be possible

[2022-08-11 12:39] jonsmirl commented on #28
This may be the problem.... when you first set up the subscription do you get an immediate status reply? It should do that so that you know the beginning state of the attribute.  Technically that is a status change -- the attribute went form a state of unknown to a known state.

[2022-08-11 12:55] dhrishi commented on #28
Yes

[2022-08-11 13:16] dhrishi commented on #29
Where do you save the state? Matter talks only about local control and hence there may be some devices that do not have internet connectivity at all.

[2022-08-11 13:27] jonsmirl commented on #29
A controller would save the state. ie the app with the "Replace Device" button.

I have this button in my existing home automation system and I have used it at least 30 times to replace dead devices. Consider how much of a pain it is to replace a dead device without it. You will have to manually recommission back onto each fabric and then individually rebuild the device state for each fabric. Very

[2022-08-11 13:29] jonsmirl commented on #29
I also use that button when my devices are behaving flaky.  I manually factory reset them, then use the 'Replace Device' button to restore their state.  I think this is undoing corruption in the flash.

[2022-08-11 13:31] jonsmirl commented on #29
Since Matter has punted on this, the vendor apps have to implement it.  ... as in Espressif makes me a nice vendor API I can call to get the device state as a blob, and another API which I can use to restore it.  And some way to know if it has changed since last save call.

[2022-08-11 13:45] Diegorro98 commented on #28
Yes, that's what I need. But it is not that the attribute isn't updated, the attribute is already updated but not by `attribute::update`.

I'm going to try to explain what I'm doing and why I need it in my project:
I'm doing some testing with devices like window covering or barrier control, I know that they are not currently on the esp-matter data model, but I wrote the code by my own.
So, when I

[2022-08-11 14:01] jonsmirl commented on #28
The window covering cluster has different attributes for target and current position.

Hrishikesh...   I don't think the ZCL in the tree matches the spec (I can't see the spec anymore).  The ZCL appears to be missing some fields indicating current and target positions.   zcl/data-model/chip/window-covering.xml

    <attribute side="server" writable="false" code="0x000B" define="WC_TARGET_POSITION_

[2022-08-13 21:12] jonsmirl commented on #31
The way the current Espressif IOT_Button code is designed this has to be polled. So I implemented keypad support using polling.  For example if you have a 3x3 matrix connected to GPIOs (2, 3, 10,    6, 1, 0)  the example sets up button 1 at (2,6). You can have this code and please add it to the Espressif library. It actually ended up being pretty simple to do.  There is no limit on the size of the

[2022-08-15 00:23] jonsmirl commented on #31
This technique has electrical issues. I am getting cross talk between the buttons due to the high frequency scanning.  It may not be workable.

[2022-08-15 15:48] jkl2e opened #36 "install.sh failed (didn't find openssl installation)"
Mac OS 12.4

But openssl installed on my mac

[2022-08-15 16:13] jkl2e commented on #36
switching opensell version causes the same error...

[2022-08-16 02:25] jonsmirl commented on #31
I deleted the previous code, it did not work for more than 2x2 due to cross talk issues on the wires. I am implementing a different technique using interrupts that does not rely on high frequency scanning.

[2022-08-16 04:42] dhrishi commented on #36
@jkl2e Can you please check if the steps [here](https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md#installing-prerequisites-on-macos) help you with your issue?

[2022-08-17 01:17] jonsmirl commented on #31
This is my second attempt at matrix keypad support. This is diff off from the espressif_button component (IOT Button). This version is interrupt based. It has a problem with occasionally losing edge interrupts, but it detects that condition and recovers.  Please test, improve code, etc. You have my full permission to add this code to IDF which I recommend doing. Arduino, ST, NXP, etc all include m

[2022-08-18 00:51] jonsmirl opened #37 "BLE bridge using mesh advertising"
The BLE bridge example is advertising using the BLE mesh protocol.  Matter setup apps can't see the advertisement since they are looking for a normal BLE advertisement.   How is this supposed to work? Can I use normal BLE and mesh simultaneously? Or do I need to be in normal BLE mode while commissioning and then start the mesh later?

[2022-08-18 01:12] jonsmirl commented on #37
I rolled back this commit and it advertises in nomral mode, but it still won't pair.
d9416458a3660b725ec572a32cfe015725ea4c4b

[2022-08-18 01:49] InfiniteYuan commented on #37
Can you provide the commit id of the esp-matter you are using?

[2022-08-18 02:11] jonsmirl commented on #37
I was on d380670056ca9320a9860c2a128eb41cc037669a before I rolled back. I just went forward and picked up a CHIP update. I will rebuild again to incorporate the new chip.

[2022-08-18 02:20] jonsmirl commented on #37
i am on e0c4b5db757b4daa70c2b5d09791de2430d437d2 now. It is still a BLE mesh advertising packet.

[2022-08-18 03:12] InfiniteYuan commented on #37
[code]

[2022-08-18 05:49] InfiniteYuan commented on #37
Please test it again with [blemesh_bridge.diff.zip](https://github.com/espressif/esp-matter/files/9367970/blemesh_bridge.diff.zip)

[2022-08-18 10:14] InfiniteYuan commented on #31
Thank you for your suggestion.

We'll mark it TODO.

[2022-08-18 12:52] jonsmirl commented on #37
I applied the patch, deleted build, rebuilt. It is a BLE Mesh advertisement, not a normal BLE type. chip-tool can't see BLE Mesh advertising packets since it filters them out.  Look in the log, it is advertising in mesh mode... I (1456) CHIP[DL]: ESP_BLE_MESH_START_BLE_ADVERTISING_COMP_EVT, index 0, err_code 0
[code]

[2022-08-18 12:55] jonsmirl commented on #37
Run the nRF Connect app on your phone, then it is easy to see the difference.
https://play.google.com/store/apps/details?id=no.nordicsemi.android.mcp&hl=en_US&gl=US

[2022-08-18 13:11] jonsmirl commented on #37
Forget all of that, the patch is working.

I forgot to fully erase the flash from the other code I was working on so it booted already commissioned.

[2022-08-18 17:17] dhrishi commented on #23
Closing this. Feel free to reopen

[2022-08-18 17:17] #23 closed

[2022-08-19 00:37] jonsmirl opened #38 "halCommonSetIndexedToken, halCommonGetIndexedToken"
Are these implemented from cluster/scenes/scene.h?
EMBER_AF_PLUGIN_SCENES_USE_TOKENS
To make the OnWithRecallGlobalScene, otherwise it stores the state to RAM and then forgets it.

Not clear if anyone in the Matter world has ever turned this command on.

[2022-08-19 04:11] jonsmirl commented on #38
https://github.com/project-chip/connectedhomeip/issues/3275

Looks like they are punting on this.

[2022-08-19 05:03] dhrishi commented on #38
Scenes cluster is marked as provisional for v1.0 Matter release. So there's a chance that it is not supported right now.

[2022-08-19 07:46] Diegorro98 opened #39 "Lighter Matter repo download"
I have found that if you simply clone this repo, then initiating only the Matter submodule, you can download less Matter submodules by executing this script:
[code]
Problems might come on Matter bootstrap, because it tries to download all the submodules if you run `bootstrap.sh` from the Matter root folder. If you run it from another folder it will try to download submodules from the repo you are

[2022-08-19 09:33] shubhamdp commented on #39
@Diegorro98 Please take a look at this documentation, it does tell user to download the lighter version of repository and submodule: https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html#getting-the-repositories
This clones all the submodules shallowly.

If you use the `checkout_submodules.py` then it will only pull only ESP32 specific submodules. But, sourcing `bootstrap.sh

[2022-08-19 11:15] Diegorro98 commented on #39
@shubhamdp

This clones all the submodules shallowly.

I know, and that's how I usually download the repo, maybe `git clone --depth 1 --shallow-submodules --recursive` can be faster (I didn't tested) than using `git clone --recursive`, but in terms of disk space, is just ~1 GB difference. So checking out ESP32 submodules only saves much more space that the documented methods.

I have tried `activa

[2022-08-19 11:56] jonsmirl commented on #38
Not implementing halCommonGetToken/halCommonSetToken also disables part of the on/off cluster.
OnWithRecallGlobalScene and OffWithEffect

[2022-08-19 12:25] shubhamdp commented on #39
Nope, there won't be any problem and I will make the above suggested changes in the docs and `install.sh` script.

[2022-08-19 13:39] jonsmirl commented on #39
Once everything is stable and released you won't need to download the Matter repository at all, right? It will just be a library you link to.

[2022-08-22 03:59] dhrishi commented on #29
If a device is a part of multiple fabrics, then this implies that the device will have to share information of the other fabrics (like operational cert, private key) to the controller of some other fabric, which doesn't seem right?

[2022-08-22 10:34] jonsmirl commented on #29
The blob the device passes back can be encrypted.

The people designing Matter are laser focused on the "Alexa, turn the light off" use case with banker level security.  They are not paying any attention to the problems they are causing the owners of the devices.  For example they have ignored scenes which are probably the number one feature in a real home automation system.  And one of my big com

[2022-08-22 10:51] dhrishi commented on #29
I had thought of this. But then again, which key do we use for encryption? If it is specific to the device, then how and with whom do we share this?

This can be tested

[2022-08-22 13:01] jonsmirl commented on #29
The only key you have available is the key for the controller doing the backup.

[2022-08-23 02:36] jonsmirl opened #40 "Implement device type 0x000F generic switch"
Can you please implement device type 0x000F generic switch? Looks like you already have the Switch Cluster implemented. I would like to test and see if Apple has implemented support for this in IOS.   BTW, there are a lot more device types missing.

This is a scene controller switch. It is button around on the wall somewhere that tells the controller to trigger an automation.

    <deviceType>

[2022-08-23 11:03] dhrishi commented on #40
Yes, we will implement that.

Currently, the SDK supports a few device types. More device types will be added incrementally.

[2022-08-23 11:05] dhrishi commented on #36
@jkl2e Do you have any updates to share?

[2022-08-23 11:45] dhrishi commented on #29
So, the same problem, multiple ecosystem data with the controller now.

[2022-08-23 13:46] dhrishi commented on #32
If it is not facilitated in the upstream SDK then it won't work as we don't have any custom changes on top of it. I think, currently, it will fail.

[2022-08-23 13:52] jonsmirl commented on #32
I think the spec has a big blank spot on bindings between bridge nodes. I don't believe anyone has considered it.

This going to make consumers with lots of Zigbee devices unhappy.

[2022-08-24 13:08] dhrishi commented on #37
The changes have been merged to the main branch now

[2022-08-24 13:08] #37 closed

[2022-08-25 07:59] dhrishi commented on #32
I will close this now as the original question is answered

[2022-08-25 07:59] #32 closed

[2022-08-25 10:14] dhrishi commented on #20
Documentation updated

[2022-08-25 10:14] #20 closed

[2022-08-25 10:15] dhrishi commented on #9
Updated the comment in the application to reflect the creation of Root Node device type in create API

[2022-08-25 10:15] #9 closed

[2022-08-25 10:29] dhrishi commented on #36
Closing this now. Feel free to re-open if you still face the issue

[2022-08-25 10:29] #36 closed

[2022-08-25 22:54] jonsmirl commented on #40
If you look in the Matter spec, Generic Switch has very specific events it needs to emit for single click, double click, multi-click etc. To make things easy for Matter implementers, the Espresif button library should emit those exact same events so that there is a 1:1 mapping onto the Matter API. Currently the events are similar, but not exactly the same.

The Espressif button library should also

[2022-08-26 02:39] jonsmirl opened #41 "How do you get multiple controllers onto the same fabric?"
Say I have an iPhone controlling my house, how do I get my wife's iPhone onto the same fabric so that she can also control the devices? Does wife's phone open a commissioning window thus allowing my phone to commission it? If so, then what is the API call to let my wife's phone switch onto this newly commissioned fabric?

Or do I need to pull the fabric keys out of my phone's database and send the

[2022-08-26 08:25] VivekPalle opened #42 "Need help to build a Matter-WiFi controller application as per the requirement"
- We need your clarification for the below application and supported matter sample codes.
We want to develop a Wi-Fi Matter Controller device that can join the existing Matter network at Home with commissioning. It should be able to turn as a controller to control the end devices over matter/through bridges and also should be able to communicate with our cloud platforms and mobile applications to

[2022-08-26 16:26] dhrishi commented on #42
We have an example for a light_switch (onoff client cluster) that can control a light (onoff server cluster). You can find it [here](https://github.com/espressif/esp-matter/tree/main/examples/light_switch#light-switch). This will serve as a reference for the usecase you are looking for. Are there any specific device types that you want to control? Or will you have all of the possible client cluste

[2022-08-26 16:38] dhrishi commented on #29
As per the discussion above, I don't see a solution to this for now.

[2022-08-26 16:38] #29 closed

[2022-08-27 02:53] jonsmirl opened #43 "Memory consumption during commissioning"
Where did all of the memory go? The gui task is idle, it is just logging the free memory in a loop.
I had 32,800 free when I started commissioning.

Things weren't so bad until after mDNS started and then 30K disappeared almost instantly when CASE messages started.
Excessive number of packet buffers? TCP window too large?

[commission.log](https://github.com/espressif/esp-matter/files/9437202/comm

[2022-08-28 20:01] PSONALl commented on #28
@Diegorro98 according to matter specification once the movement of window cover has successfully finished, the current position attribute should be updated and there is no mention of notifying the attribute
Also, the current position attribute's value is not changed during movement, It just gets updated after the movement according to spec, but if you want to notify a current position attribute th

[2022-08-28 21:13] jonsmirl opened #44 "Priority of Matter task"
I have not really investigated this, but I am running into issues where the Matter task is not running in time to avoid timeouts. So I suspect the priority of the Matter task should be increased. I have to run all of my tasks at priority 0 to get things to work, and it is still not totally stable. This may be the problem behind that other bug where all of the memory disappeared, maybe the Matter t

[2022-08-28 23:42] giandub opened #45 "Link gpio's with multiple clusters."
The esp32 guide does not explain how to connect multiple clusters to their respective gpio. Thank you.

[2022-08-29 04:46] VivekPalle commented on #42
Dear Hrishikesh,

Thanks for your reply.

We want to develop a Wi-Fi Matter Controller device that can join the
existing Matter network at Home with commissioning.

We have an example for a light_switch (onoff client cluster) that can
control a light (onoff server cluster). You can find it here
<https://github.com/espressif/esp-matter/tree/main/examples/light_switch#light-switch>.
This will serve

[2022-08-29 04:54] dhrishi commented on #45
@giandub Is this for using the led driver? If yes, first you should be using the GPIO led_driver as [here](https://github.com/espressif/esp-matter/blob/main/device_hal/device/esp32_devkit_c/esp_matter_device.cmake#L7)

Then, if you have multiple GPIOs then you can call [this](https://github.com/espressif/esp-matter/blob/main/examples/light/main/app_driver.cpp#L152) function from the application wi

[2022-08-29 10:55] dhrishi commented on #41
IMO, your wife's iPhone should have the NOC from the same root of trust. This should be managed by the fabric/ecosystem that you are on. Then, you as the current admin, can configure appropriate ACL privileges on the device(s) to control by adding an entry of the NOC(node id) of your wife's phone. After that, she would be able to control them.

It is the exact opposite way for the multi-admin scen

[2022-08-29 11:02] jonsmirl commented on #41
Can you demo this in your IOS app?

[2022-08-29 11:13] dhrishi commented on #41
No, not yet. As the app doesn't create/manage an actual fabric of its own. It is based on the upstream CHIP framework.

[2022-08-30 05:06] dhrishi commented on #41
You can verify this with the host-based chip-tool:

[code]

[2022-08-30 11:36] #41 closed

[2022-08-30 19:17] giandub commented on #45
Ok.thank you.

[2022-08-30 22:19] lboue opened #46 "esp-matter/examples/blemesh_bridge --> Build error 'Failed to resolve component 'esp_adc_cal'"
Hello,

I am facing an issue with esp-matter examplesblemesh_bridge.
I am getty a Build error _'Failed to resolve component 'esp_adc_cal'_ error.

Step to reproduce:
[code]

Log

[code]

I tried to run _idf.py add-dependency esp_adc_cal_  but it doesn't fix this issue.
Could you help me to fix that?

Rerards
Ludovic

[2022-08-30 23:21] giandub commented on #45
Hi, I'm sorry but I'm not able to do that. I tried to edit the following lines, the toggle messages to ids 1 and 2 seem to work but the LED on id 2 is not responding.

In the app_main.cpp:
       Changed this
   /* Initialize driver */
    app_driver_handle_t light_handle[3];
        for (int x = 1; x < 3; x ++){
   light_handle[x]= app_driver_light_init(x);
}

  Add this:

endpoint_t *endpoint1 =

[2022-08-31 02:24] InfiniteYuan commented on #46
OK, Let me try.

[2022-08-31 21:25] jonsmirl opened #47 "Group multicast and AP selection fail when multiple AP with same SSID"
Using the esp-matter light demo unchanged...
[group.zip](https://github.com/espressif/esp-matter/files/9465087/group.zip)

It is restoring the multicast group on line 149/150
But wifi does not manage to connect to the AP until line 327.
A related question, why is my ESP having so much trouble connecting to the AP? There are several APs in the area with the same SSID. I don't understand why it is c

[2022-09-01 00:22] jonsmirl commented on #47
[group2.zip](https://github.com/espressif/esp-matter/files/9465864/group2.zip)

Log from second test.  I can see the packet on Wireshark, but ESP does not see it.

----
# Packet 5 from /tmp/wireshark_wlp2s0NSD9Q1.pcapng
- 828
- 99.352372317
- 2600:4040:51b3:fb00:cbcd:199d:793a:dd0f
- ff35:40:fd00::100:1
- UDP
- 128
- 58055 → 5540 Len=66

[2022-09-01 00:28] jonsmirl commented on #47
Something about rebooting with multiple APs is breaking the ESP listening for multicast.

[2022-09-01 11:34] jadhavrohit924 commented on #47
I could able to use group multicast after reboot. Also I can see logs on ESP device.
[groups.txt](https://github.com/espressif/esp-matter/files/9469414/groups.txt)

[2022-09-01 12:00] jonsmirl commented on #47
I have no trouble with multicast where there is single AP nearby.

The failure is when there is network of APs. In my case the ESP is able to see four or five APs with the same SSID and varying RSSI. Something in the process of deciding which of these AP to connect to seems to break multicast.

[2022-09-01 12:27] dhrishi commented on #47
This is a known issue in the Wi-Fi code, discussed [here](https://github.com/espressif/esp-idf/issues/8269) and being worked upon.

[2022-09-01 13:08] jonsmirl commented on #47
There may be layers to this problem. Once they have fixed the wifi code to connect to the strongest AP, you will need to verify that the AP selection process is not breaking that Multicast listen which was set up before the AP was chosen.  From what I am observing it appears that the AP selection process is not preserving the Multicast setup.

[2022-09-01 13:30] jonsmirl commented on #47
Note that these multi-AP networks are common in US houses now due to Amazon (eero) and Ubiquiti selling home mesh networks. This has to work correctly before ESP Matter devices can be shipped.

https://www.amazon.com/Introducing-eero-mesh-WiFi-system-3-pack-/dp/B07WMLPSRL/ref=sr_1_1_sspa

[2022-09-01 16:12] lboue commented on #46
Did you manage to build blemesh_bridge examples for esp32?

[2022-09-01 19:05] jonsmirl opened #48 "Failed commission with invalid ssid or pw does not return to BLE advertising mode"
Use the wrong ssid or pw to commission the demo light app. That will correctly fail because the wifi credentials are wrong. Now try to commission it again with the correct ssid/pw. It is not listening on BLE anymore.

[2022-09-02 02:02] chshu commented on #46
Could you use IDF v4.4.2 to build blemesh_bridge example? Seems you are using the latest IDF v5.0.

[2022-09-02 02:16] jonsmirl commented on #47
How do I tell? They are all on a single IPv4 subnet.  I think they are all on single IPv6 subnet too. They are not routing, they are bridged APs.

[2022-09-02 02:20] jonsmirl commented on #47
If IPv6 broken on router, Matter should fallback to IPv4.  Normal consumer does not understand this level of problem.

[2022-09-02 02:29] chshu commented on #47
You may try this: connect PC to one of the APs, and use wireshark to sniffer the packets, then check whether the PC could receivce the multicast message from the chip-tool under another AP.

[2022-09-02 02:50] jonsmirl commented on #47
It is not simple to tell which AP these devices are attaching to since they all have the same SSID.  But I believe the PC had attached to the one 4ft away from me, and the ESP had attached to the one 100ft away.  All of my APs are not identical, so there could be issue at the one 100ft away. When I changed the SSID of the one 4ft away so that the ESP will use it, multicast works.

Another complica

[2022-09-02 03:21] jonsmirl commented on #47
I'm in the process of building CHIP on a RaspPi so that I can move it around.   A better solution for testing this would be an Android/IOS phone app.   I run something on my desktop injecting IPv6 multicast packets into the network over Ethernet. And then I walk around with the phone set to wifi mode and make sure I can receive them everywhere.

[2022-09-02 06:08] dhrishi commented on #48
This works with the chip-tool in non-interactive mode. After a timeout, the fail-safe timer expires, commissioning window is opened again and BLE advertisement is started. Then you can commission the device with the correct credentials.
While the same thing fails with chip-tool in interactive mode. In that too, after the timeout, ESP32 restarts BLE advertisement. But, the chip-tool is in an incorr

[2022-09-02 06:29] dhrishi commented on #28
As the original question from @jonsmirl and the issue from @Diegorro98 is addressed, can we close this?

[2022-09-02 11:13] VivekPalle commented on #42
Dear Hrishikesh,

We worked out the light and switch examples and understood how it is functioning.

Now we want to execute our application requirement, by adding a new Matter-Controller (WiFi) in the same local network. This Matter-Controller should be able to listen the control/data commands between the Light and Switch devices and also can be able to control the Light device and able to read th

[2022-09-02 11:20] dhrishi commented on #45
@giandub Which ESP32/C3 devkit are you using? Have you physically connected external leds to the GPIOs you have mentioned above?

Also, ideally, you should not be changing the code in the device_hal. Instead, you can change the app_main.cpp to not use `app_driver_light_init` and directly call `led_driver_init` with your configuration each time. It is okay, if you don't use the function `led_driver

[2022-09-02 11:45] dhrishi commented on #42
That isn't possible as the communication between them will be secure. Why do you want to listen? To know what changed (on the light)? In that case, you can subscribe to the attributes of your interest and they will be reported when there's a change.

The light_switch example is also a type of minimal Matter controller as it can control devices that have OnOff server cluster. It has OnOff client cl

[2022-09-02 12:10] giandub commented on #45
Hi, i have an esp32devkit-c with wroom-32U.
Yes i have connected 2 led on pin 12 and 13.

[2022-09-02 14:49] giandub commented on #45
Hello, I tried to make changes only app_main.cpp as you suggested. I had the same behavior: the led 2 does not respond.

   /* Initialize driver */
    led_driver_config_t config;
    config.gpio = 12;
    config.channel = 0;
    led_driver_handle_t handle = led_driver_init(&config);
    config.gpio =13;
    config.channel = 1;
    led_driver_handle_t handle1 = led_driver_init(&config);

 I think

[2022-09-02 16:14] dhrishi commented on #45
I connected external LEDs to GPIOs 12 and 13 and with changes in the application, I could get this working. I can control both the LEDs through the `matter esp attribute set` commands

I think this could be missing in your implementation. Comment or remove this `if block`: https://github.com/espressif/esp-matter/blob/main/examples/light/main/app_driver.cpp#L77
By default, it will handle only endpo

[2022-09-02 16:25] dhrishi commented on #45
For your reference, I have added a patch (rough set of changes) for the working functionality here: https://gist.github.com/dhrishi/8f70564ce48d89da49c640049a6a6dc4

Please take a look and let me know in case of anything

[2022-09-02 16:28] jonsmirl commented on #48
Using command line, two commission commands  smirla does not exist, smirlx is correct.
./chip-tool pairing ble-wifi 1 smirla iebgener43 20202021 3840 --ble-adapter 1
./chip-tool pairing ble-wifi 1 smirlx iebgener43 20202021 3840 --ble-adapter 1
these two commands are the fail logs in the attachment.
I erased the flash and then did
./chip-tool pairing ble-wifi 1 smirlx iebgener43 20202021 3840 --bl

[2022-09-02 17:07] dhrishi commented on #48
Can you please try with the default light example and let me know what do you observe?

[2022-09-02 17:27] jonsmirl commented on #48
It works ok from light example.   So this is side effect from combining BLE bridge with light.
Here's my test app, there is very little to it. The GUI piece is disabled so you can ignore that part.
//xTaskCreate(ST7789, "ST7789", 1024*6, NULL, 0, NULL);

[lowpan.zip](https://github.com/espressif/esp-matter/files/9479970/lowpan.zip)
I need BLE Bridge combined with Matter Bulb and Switch working for

[2022-09-02 17:31] jonsmirl opened #49 "Convert BLE Mesh bridge platform directory into a component"
Could you make that directory into a component so that it will automatic update in my custom app when I pull esp-matter? The way it is currently have to manually copy it after each pull.

[2022-09-03 10:35] giandub commented on #45
Ok, it work...thank you..

[2022-09-03 10:35] #45 closed

[2022-09-03 12:55] dhrishi commented on #46
@lboue Did you get a chance to try with ESP-IDF v4.4.2?

[2022-09-03 14:46] #44 closed

[2022-09-03 14:46] jonsmirl commented on #43
I have not really investigated this, but I am running into issues where the Matter task is not running in time to avoid timeouts. So I suspect the priority of the Matter task should be increased. I have to run all of my tasks at priority 0 to get things to work, and it is still not totally stable. This may be the problem behind that other bug where all of the memory disappeared, maybe the Matter t

[2022-09-03 14:49] jonsmirl commented on #38
Closing since this is a core Matter problem. They are not going to look at this until after 1.0

[2022-09-03 14:49] #38 closed

[2022-09-03 16:25] dhrishi commented on #30
@AchimPieters The `. ./export.s h` @chshu mentioned above is to be executed in the local `esp-matter` repository. It should solve your issue. Please close this if it does

[2022-09-04 04:37] dhrishi commented on #43
For the memory error `PacketBuffer: pool EMPTY`, please provide more details -
1. Is it with ESP32/ESP32-C3?
2. esp-matter HEAD commit used (as the connectedhomeip submodule is updated a few times recently)
3. Example used or a specific scenario that can help us reproduce this issue
4. Does this happen everytime?

[2022-09-04 11:23] lboue commented on #46
I will try today. I will keep you informed of the result.

[2022-09-04 12:02] lboue commented on #46
I downloaded the ESP-IDF v4.4.2 archive but it didn't work. Here are the details below:

## Switch to esp-idf 4.4.2
[code]

## Building ESP-BLE-MESH - ESP32 bridge example
[code]

What can I do this time?

Regards

[2022-09-04 12:19] jonsmirl commented on #43
1) using C3
2) I was on 32ae38aa9506c523a9fb564db6a8eaa981be739e, sept 1
3) I have other task running at priority zero. Those task are not time critical.
4) The typical failure is a timeout, the log was one of the more dramatic failures

What I think is going on is that my tasks are starving the Matter task of time. But my task are not critical, I don't want that to happen. I want the Matter task

[2022-09-04 12:30] dhrishi commented on #46
Why is this executed? The ESP_MATTER_PATH should be the path to the esp-matter repo and not the ESP32 platform in the connectedhomeip submodule

Steps to be followed:

[code]
Detailed instructions for compilation: https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html#developing-with-the-sdk

[2022-09-04 12:35] lboue commented on #46
/home/pi/esp-matter/ is my esp-matter repo :

IDF repo	=> /home/pi/esp-idf/
Matter repo	=> /home/pi/esp-matter/

[2022-09-04 12:56] dhrishi commented on #46
@lboue You don't need to set the path explicitly. Please follow the steps I've mentioned above and see if the build is successful

[2022-09-05 02:59] jonsmirl opened #50 "OnOff OffWithEffect not working"
OffWithEffect does not appear to be working. OnWithTimedOff does appear to work.

OffWithEffect needs to coordinate with LevelControl to do the Fade to off.  Maybe some disconnect between your code and the Matter cluster code?

I tried:
onoff off-with-effect 0 0 1 1
onoff off-with-effect 0 2 1 1
onoff off-with-effect 1 0 1 1

OnWithRecallGlobalScene is not going to work because scenes aren't imple

[2022-09-05 03:12] jonsmirl commented on #50
Somewhere this construct was supposed to be called...
`
OnOffEffect(
        chip::EndpointId endpoint, OffWithEffectTriggerCommand offWithEffectTrigger,
        chip::app::Clusters::OnOff::OnOffEffectIdentifier effectIdentifier = EMBER_ZCL_ON_OFF_EFFECT_IDENTIFIER_DELAYED_ALL_OFF,

        /*
         * effectVariant's type depends on the effect effectIdentifier so we don't know the type at compi

[2022-09-05 03:24] jonsmirl commented on #50
If you look in the erf32 lighting-app they have implemented this.
Not sure how this works...
[code]

[2022-09-05 11:40] chshu commented on #49
@jonsmirl The external platform source code is user specific, so we will not provide official external platform code (in components). The external platform directory in blemesh_bridge is specific to the example, but won't work for other use cases. Also, we don't expect our customers changing anything in components folder.

If you don't need to change anything in the BLE Mesh bridge platform direct

[2022-09-05 13:45] jonsmirl commented on #50
That looks like part of the solution, what about...
[code]

[2022-09-05 14:56] VivekPalle commented on #42
@dhrishi Thanks for the inputs. It's clear.

I started debugging the examples and I can able to control the servers. Subscribed to on-off attribute of Light example from the chip-tool, but can't able to see the reporting from the Light to chip-tool when controlled the Light from the Switch example.

(./chip-tool onoff subscribe on-off 1 2 29315 1)
Here the Switch and Light are bonded with binding

[2022-09-06 02:22] jonsmirl opened #51 "How do group bindings work?"
I used this binding:
binding write binding '[{"fabricIndex": 1, "group": 1}]' 1 2

I then executed a LevelControl Move command in my code.  But that is not the issue, the issue is remote_device is null.

0x42013f2e in esp_matter::cluster::level_control::command::send_move (remote_device=0x0, remote_endpoint_id=36532, move_mode=0 '\000', rate=1 '\001', option_mask=0 '\000', option_override=0 '\000'

[2022-09-06 02:23] jonsmirl commented on #40
Note that generic switch support has been added to the switch examples in the matter repository.

[2022-09-06 12:09] jonsmirl commented on #51
The architecture of this callback has problems...
[code]
That *priv_data should be a function pointer to the command plus the vargs it needs. Then this callback pretty much goes away and becomes generic.  If code needs big if-then like this, something is architecturally wrong.

https://github.com/espressif/esp-matter/issues/27

[2022-09-06 18:11] jonsmirl opened #52 "Creating both client and server for a cluster"
This makes a light endpoint with a Identify server cluster
`   endpoint_t *endpoint = dimmable_light::create(node, &light_config, ENDPOINT_FLAG_NONE, light_handle);`
now I want to add Identify client support
`    cluster::identify::create(endpoint, NULL, CLUSTER_FLAG_CLIENT);`

Is this going to do the right thing for all clusters, not just identify? Like when the cluster has a config?

Or do I nee

[2022-09-06 20:45] jonsmirl commented on #52
This appears to build what I need
[code]

[2022-09-06 20:47] jonsmirl opened #53 "Descriptor read command lists"
These commands don't appear to be implemented on the descriptor cluster

read
  | * generated-command-list                                                            |
  | * accepted-command-list

[2022-09-06 21:25] jonsmirl commented on #52
Probably need something like this in one of the examples. I've figured it out, but as guide to others.

[2022-09-07 01:52] jonsmirl commented on #40
This is not critical to me now, I have a work around. Still need to be fixed so that you implement the spec.
[code]

[2022-09-07 01:58] jonsmirl commented on #46
This builds for me without any issues.

[2022-09-07 03:02] dhrishi commented on #52
Yes, that's the right way to use it:
[code]

[2022-09-07 04:00] dhrishi commented on #53
These should be handled internally. AFAIK, they aren't supported in the upstream repo.

[2022-09-07 05:01] PSONALl commented on #40
@jonsmirl we are already working on a generic switch device type, We will add it to esp-matter soon.

[2022-09-07 11:01] dhrishi commented on #42
Is the ACL on light updated too?

chip-tool has an interactive mode that can be used here. See this for reference:
https://github.com/espressif/esp-matter/issues/28#issuecomment-1208896957

all-clusters-app is an app in the upstream connectedhomeip repository and basically has all the cluster servers. Currently, there is no example in upstream connectedhomeip as well as this repository that suppor

[2022-09-07 19:50] lboue commented on #46
Hello,

This time I a facing an issue with _**nlassert**_ package :
[code]

[2022-09-07 22:20] jonsmirl opened #54 "Aggregator Endpoint"
What is this and how do I use it?

So dimmer has EPs:
1 Dimmable Light
2 Dimmer Switch
3 Generic Switch

Apparently it also needs to say these are pieces of single device.
Aggregator EP  (1, 2, 3)

[2022-09-08 01:25] jonsmirl opened #55 "MATTER_BRIGHTNESS"
In the lighting example, why is MATTER_BRIGHTNESS set to 254? Is this is the spec somewhere?

Apple Home sends out brightness up to 255.

[2022-09-08 01:38] jonsmirl commented on #55
When Apple home sends 255 it is not setting the Brightness attribute
[code]
Looks like this when brightness is set correctly...
[code]

[2022-09-08 02:29] #49 closed

[2022-09-08 02:32] dhrishi commented on #52
It is present at a few places in the SDK components. Will add in an example when handling a server and client cluster usecase. Closing this

[2022-09-08 02:32] #52 closed

[2022-09-08 02:37] chshu commented on #54
Please refer to spec 9.12, Aggregator is a spec device type for bridge device, which has a Descriptor cluster with a PartsList attribute containing all the endpoints representing those Bridged Devices.

The example:

![image](https://user-images.githubusercontent.com/20312411/189020955-b0e706c8-ca1d-47c7-9a36-c519124f0488.png)

[2022-09-08 02:40] dhrishi commented on #46
@lboue Can you please confirm if you have followed all the steps mentioned in the documentation? Is your `./install.sh` in esp-matter repo successful? If it is still an issue, please provide details about your environment like the OS, its version etc.

[2022-09-08 02:45] jonsmirl commented on #54
Boris telling me to use this in a non-bridge device.  This is a new use of aggregator I am not familiar with.

[2022-09-08 03:00] dhrishi commented on #55
The maximum value is 254 for the CurrentLevel attribute of the Level Control cluster.

[2022-09-08 04:01] dhrishi commented on #30
Closing this as it should work. Feel free to reopen in case you still face the issue. Also, we have now moved to ESP-IDF release v4.4.2 now.

[2022-09-08 04:01] #30 closed

[2022-09-08 05:15] lboue commented on #46
After several attempts, it works!

[code]

[2022-09-08 05:15] #46 closed

[2022-09-08 11:15] #55 closed

[2022-09-09 14:08] VivekPalle commented on #42
@dhrishi Thanks for your information. Interactive mode is working fine.

It's very clear that, below the tools that we need to use as controllers. These only help us to create the matter fabric, commissioning and interact (control) with the examples.
- Python-based Device Controller
- CHIPTool
- Android CHIPTool
- Darwin CHIPTool

Is it possible to control a matter device from two different matter

[2022-09-09 14:39] Zeni241 opened #56 "How loooooong after export.sh in esp-matter folder?"
followed instructions on this page:
https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html

After I enter /export.sh in esp-matter folder I get bellow line in terminal:

 My traceroute [v0.95]
FUbuntu (127.0.0.1) -> localhost (127.0.0.1) 2022-09-08T21:15:39+0500
Keys: Help Display mode Restart statistics Order of fields quit
Packets Pings
|Host 		|	Loss% |	Snt 	 |  Last 	|Avg

[2022-09-11 09:22] giandub opened #57 "Development boards question."
Hello, I want to know if development boards like devkit-c will be compatible with the entire matter ecosystem as a finished product. I have seen that devices must have some certifications such as device attestation certificate and others. Currently I have some the devkit-c flashed with my own firmware in my home and I wanted to know if flashing these cards with the examples of this repo the cards

[2022-09-11 15:47] AchimPieters commented on #30
Unfortunately that doesn't work either, I also tried to run the export.sh when started the docker, see attached image.
![Screenshot 2022-09-11 at 17 46 15](https://user-images.githubusercontent.com/16034588/189536674-09578e4e-4dd2-446f-abc8-b4ca9e8027c3.png)

[2022-09-11 16:04] dhrishi commented on #30
Can you please try to use `source export.sh` or `. ./export.sh` instead of `bash export.sh`. That should help because, I think, source operates in the current shell and affects variables in the same shell too.

[2022-09-11 16:46] AchimPieters commented on #30
Okay,`source export.sh` looks to be working, but it sure takes it sweet time....
![Screenshot 2022-09-11 at 18 45 41](https://user-images.githubusercontent.com/16034588/189539301-4619a4d6-aee5-4a4e-b199-56f598e68c2d.png)

[2022-09-12 14:57] AchimPieters commented on #30
Okay step by step it's doing something, but now run into this one:
![Screenshot 2022-09-12 at 16 55 39](https://user-images.githubusercontent.com/16034588/189687060-5d4cf0bb-a3e8-420d-9893-53e27f5ede3f.png)

[2022-09-12 15:15] jonsmirl commented on #30
You are likely missing the gn tool.    cd into esp-matter/connectedhomeip/connectedhomeip  and 'source scripts/bootstrap.sh'
you only need to do that once. That will install all of the needed tools into the image.

[2022-09-12 15:25] AchimPieters commented on #30
I already did that through the i`nstall.sh` file in the `esp-matter` folder. but try it again as you described.
![Screenshot 2022-09-12 at 17 24 51](https://user-images.githubusercontent.com/16034588/189693495-b5accc5c-88bc-41c5-b9df-cb9e7fbd6fba.png)

[2022-09-12 16:15] jonsmirl commented on #30
Instructions for VSCode with container on Mac directly using CHIP...
https://github.com/project-chip/connectedhomeip/blob/master/docs/VSCODE_DEVELOPMENT.md

Then go into the CHIP example directories and build ESP support there.  You don't have to use esp-matter.
You could try to get that working first and then add in esp-matter if you really want it.

[2022-09-13 05:28] dhrishi commented on #56
This seems a bit strange. It should terminate right away. `source export.sh` or `. ./export.sh` just exports the path of the repository to `ESP_MATTER_PATH` variable

[2022-09-13 05:34] dhrishi commented on #42
@VivekPalle Yes. It is possible. This is a part of multi-admin feature of Matter. You can find more details here: https://github.com/espressif/esp-matter/issues/41

[2022-09-16 18:25] AchimPieters opened #58 "Unable to add accessory in iOS"
When I try to connect trough HomeKit, I get the message: Unable to add accessory, pairing with accessory failed. See image.
At the monitor in the terminal, it shows this.

[code]

![IMG_0822](https://user-images.githubusercontent.com/16034588/190706695-22831ab0-5634-4a31-8d8d-043221231c3d.png)

[2022-09-17 10:42] Zeni241 commented on #56
Sorry, it was my fault. I was giving command "export.sh" at wrong path.

[2022-09-17 10:42] #56 closed

[2022-09-18 04:25] jonsmirl commented on #40
I see the new generic switch code... doesn't also need...
    cluster::binding::create(endpoint3, &(switch_config.binding), CLUSTER_FLAG_SERVER);
    cluster::fixed_label::create(endpoint3, NULL, CLUSTER_FLAG_SERVER);
    cluster::user_label::create(endpoint3, NULL, CLUSTER_FLAG_SERVER);

[2022-09-18 05:46] dhrishi commented on #58
Can you please confirm the iOS version you are using on the phone as well as the gateway (HomePod or Apple TV). We have it working on the latest iOS release v16.1 beta1.

Please give it a try and let us know in case of any issues.

[2022-09-18 09:42] AchimPieters commented on #58
iPhone XR (MRY92ZD/A) IOS16.1 (20B5045d)

Gateway's:
HomePod mini (9MY5G2FN/A) OS 16.1 Latest
Apple TV 4K  OS 16.1 Latest
Apple TV HD OS 16.1 Latest

[2022-09-18 12:48] jonsmirl commented on #57
This is more of a question for the devices doing the commissioning. In the current Apple beta it will display a popup say "Add uncertified device?" and it will add it if you say 'yes'. Google beta does the same thing.   I don't have access to the Amazon beta.   I believe the commissioners will keep this capability, but they don't have to.

[2022-09-18 12:51] jonsmirl commented on #58
You also need to install a profile for the Matter support...
https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/darwin.md

Once you get everything installed correctly it should work.

[2022-09-18 12:57] AchimPieters commented on #58
@jonsmirl I have installed the profiles and the latest IOS Beta (16.1).
![IMG_0826](https://user-images.githubusercontent.com/16034588/190903208-1df432d3-1fa4-42cd-bad2-f3dc6077da8e.png)

[2022-09-18 13:03] jonsmirl commented on #58
I also have this installed
https://download.developer.apple.com/iOS/iOS_Logs/EnableMatter_Instructions.pdf

[2022-09-19 05:11] dhrishi commented on #58
@AchimPieters I am on https://github.com/espressif/esp-matter/commit/960517dc14ad797c1f54f87982e46b59a4d095b3 and I can commission and control Matter light with iOS 16.1 (20B5045d)

[2022-09-19 06:50] VivekPalle commented on #42
@dhrishi Thanks for your great support.

Now we are very clear with the controller and server examples and got hands on with the same.

Now we are working on the source code to implement Smart Socket features with metering. We need below support.
- Where do we found the cluster list document that describes cluster syntax, parameters and cluster ID's? We want to add metering related cluster to ligh

[2022-09-19 17:49] giandub commented on #57
Hello, so it would be preferable to manage the development boards with matter/non matter bridge? In that case the bridge would still be a non-certified device? What would be the limitations in using a nn certified device?

[2022-09-19 18:08] jonsmirl commented on #57
Each commissioner can set their own policy for allowing uncertified devices onto the network. The main three commissioners are Google, Apple, Amazon. For sure Google and Apple are allowing uncertified devices. I suspect Amazon will too, but I don't have access to their betas.  When you add an uncertified device you see a popup -- "This device is not Matter certified, do you want to add it anyway?"

[2022-09-20 17:07] giandub commented on #57
Thanks you.

[2022-09-20 17:07] #57 closed

[2022-09-21 08:41] VivekPalle opened #59 "Problem with the application code integration with Matter examples(ESP32-C3-MINI-1)"
Hi
We started to implement our application code with Matter ESP32 examples. Please clarify the below.

- Do you have any code flow document for these examples from Espressif, that helps us to understand and integrate our application code in a proper way? If yes, please share the same.
I tried to add my application code of energy metering part of a socket in the main function as a task. But it is n

[2022-09-21 13:14] jonsmirl commented on #59
[code]

To get the doc you have to either wait until Matter ships, or pay $20,000 to the CSA. This has nothing to do with Espressif.
https://csa-iot.org/become-member/

There is not much point in adding metering support right now since it is not in the Matter standard.  Nothing except your own app will be able to read it.

Matter works on v22.04 now, they have finally fixed Python 3.10 support.

[2022-09-22 18:16] jonsmirl commented on #58
I've confirmed that Apple broke IOS paring for a while. The update from Apple that I received yesterday fixed pairing.

[2022-09-22 22:17] jonsmirl opened #60 "Blemesh and priv_data"
The blemesh code could likely be simplified by making use of the private data storage on endpoints. Keep a pointer to the private data instead of searching for it based on EP/cluster.

[2022-09-23 12:50] loganbenda opened #61 "[Question] ESP32 All Clusters App BLE Advertising but Not Visible on Phone?"
Hi,

I've been testing out Matter in an ESP32 with the All Clusters App. I've been able to build and flash properly as well as commission through the chip-tool and change a light state. However, when the ESP32 says it's advertising, I cannot see that possible connection in anything. I've tried with the Google Home app and nRF Connect BLE sniffer (on Android) to view with no success.

`I (3029) chi

[2022-09-23 13:57] dhrishi commented on #61
@loganbenda BLE advertisement is active before commissioning and hence the chip-tool can commission the ESP32. Once commissioning is complete, BLE (and hence the advertisement) is turned off in the default case.

Is the above log before commissioning? Do you mean that before commissioning too the BLE scanner app cannot see it? How do you try to find the device in the BLE scanner app? I notice a bu

[2022-09-23 13:59] dhrishi commented on #58
Thanks @jonsmirl

@AchimPieters Can you please try with the latest update? iOS 16.1 beta2 - https://developer.apple.com/documentation/ios-ipados-release-notes/ios-16_1-release-notes

[2022-09-23 14:14] jonsmirl commented on #61
Once you commission a board you have to full-erase the ESP flash before the BLE device will appear again.

[2022-09-23 14:56] loganbenda commented on #61
@dhrishi Thanks for the comment. Yes, this is a log before commissioning. I was looking for MATTER-3840, so that was part of the confusion. I think I see the device now, if the UUID is specified as 0xFFF6? Do you know how we could enable the name as part of the advertising data to make it easier to search for with a phone app?

@jonsmirl I was thinking that was the case after commissioning was com

[2022-09-23 15:06] jonsmirl commented on #61
When you deploy your products Apple, Google and Amazon are providing commissioning libraries.
https://developers.home.google.com/mobile-sdk

Those libraries will take care of all of the QRCode and BLE stuff. Once Apple, Google and Amazon have commissioned the device onto wifi there is an option in their Home apps to open a commissioning window. Opening the commissioning window allows your app acce

[2022-09-23 15:22] loganbenda commented on #61
@jonsmirl After commissioning, is the intent to run all of the matter devices' data through one of the respective hubs (Apple, Google, Amazon) to the cloud, or could it also be through a custom application to the cloud without necessarily relying on a hub? I've been trying to find details on how AWS might integrate the cloud portion, but haven't found a ton of info to date.

[2022-09-23 15:41] jonsmirl commented on #61
Apple, Google and Amazon apps are going to provide remote control of standard devices, you don't need a cloud piece if you have a standard device.  If your device is non-standard and you want to use the cloud, then you have to do everything yourself like before Matter.

[2022-09-24 06:39] AchimPieters commented on #58
@dhrishi solved!

[2022-09-24 06:39] #58 closed

[2022-09-24 14:52] InfiniteYuan commented on #60
If you have good revision ideas, please submit relevant PR/reference code. We will consider how to add corresponding modifications.

[2022-09-27 04:17] dhrishi commented on #61
@loganbenda That's right

You will have to add local name into the BLE advertisement on ESP32 [here](https://github.com/project-chip/connectedhomeip/blob/master/src/platform/ESP32/nimble/BLEManagerImpl.cpp#L705)

Feel free to close the issue if you think your questions are answered.

[2022-09-27 04:21] dhrishi commented on #59
@VivekPalle The Matter specification is not into the open source yet. Although, you can take a look at the [supported clusters into the upstream repo](https://github.com/project-chip/connectedhomeip/tree/master/src/app/clusters/) to get some details. Other questions are answered by @jonsmirl

[2022-09-27 04:22] dhrishi commented on #42
@VivekPalle I see these questions in a separate issue. Will close this one.

[2022-09-27 04:22] #42 closed

[2022-09-27 05:34] dhrishi commented on #51
@jonsmirl We've updated the SDK to support group bindings. Added documentation [here](https://github.com/espressif/esp-matter/tree/main/examples/light_switch#22-bind-a-group-to-switch)

Please give it a try.

[2022-09-27 08:33] PSONALl commented on #40
@jonsmirl you are right! these clusters are not mandatory for generic switch

[2022-09-27 12:45] loganbenda commented on #61
That answers my questions on this, thanks!

[2022-09-27 12:45] #61 closed

[2022-09-28 04:05] wqx6 commented on #51
@jonsmirl The group commands for level control and color control will be added later.

[2022-09-29 19:17] longnv97 opened #62 "ERROR: Failed building wheel for chip-rpc"
I got error when run install.sh, in the step Setting up Python environment, this error related chip-rpc.
I not find information about it.
I sure I installed the [Prerequisites](https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md#prerequisites) for Matter.

Please help me check it.

this log in terminal:

longnv@MSI:/mnt/d/matter/esp-matter$ ./install.sh

Running Mat

[2022-10-05 15:44] VivekPalle opened #63 "Matter-Andriod github build is not working with ESP examples"
Hi,

We were able building the Espressif examples and also able to commission and control from the chip-tool (linux) as well.
Now our team built the Android APP from github and trying to test the same with ESP light example, but it is failing with below error.

Please help in resolving  the same to move further.

Error:
Failed to establish BLE connection:./../src/ble/BLEEndPoint.cpp:1533: Ble Erro

[2022-10-05 16:00] dhrishi commented on #63
@VivekPalle Can you confirm if the Android app is built with the latest master branch connectedhomeip?

From the Android logs, it looks like the Android code is trying to enable BLE notifications (from the API name - setCharacteristicNotification) on the ESP32 device and the ESP32 returns an error. This is because, with the latest code, we've moved from BLE notifications to BLE indications.
[code]

[2022-10-06 08:24] VivekPalle commented on #63
@dhrishi Thanks for your reply.

Can you confirm if the Android app is built with the latest master branch connectedhomeip?
- Yes.

Find the below device log for your reference:

I (22025) light-app: memTask - Free 120156
I (22775) chip[DL]: BLE GAP connection established (con 1)
I (22775) chip[DL]: CHIPoBLE advertising stopped
I (22775) app-devicecallbacks: Current free heap: 120156

I (23025) li

[2022-10-07 05:53] #39 closed

[2022-10-07 13:16] dhrishi commented on #62
@longnv97 If this is still an issue, can you please provide the details about the host? And also the OS version

[2022-10-08 17:36] longnv97 commented on #62
I using Linux Subsystem ver 20.04 LTS on Windows 11, I got this error (related to chip-rpc). My laptop using intel core i5 gen 11.
I success when install esp_idf, but this error happen when run ./install.sh for esp_matter.
Please help me check it and share to me your experience.

[2022-10-09 03:05] sidhoo-root opened #64 "OSError: [Errno 101] Network is unreachable"
Hi  espressif team:

    I hv meet a problem when i run ./install.sh , log as fllow:
[code]
1. the Prerequisites for Matter and espif (4.4.2) is ready.
2. and i found that issue(https://github.com/project-chip/connectedhomeip/issues/2893) had beed fixed
3. ping www.google.com is ok

PING www.google.com (142.250.204.36) 56(84) bytes of data.
64 bytes from hkg07s38-in-f4.1e100.net (142.250.204.36):

[2022-10-10 03:58] dhrishi commented on #64
@sidhoo-root  This seems to be an issue with the upstream connectedhomeip repo. Can you please check: https://github.com/project-chip/connectedhomeip/issues/8810

[2022-10-10 07:50] uiabhishek15 commented on #63
@dhrishi We are unable to build the code if we keep some jar files which we got from the internet then we can able to build the code otherwise if we follow the instructions how to build Matter code in Android studio we were unable to build. can you guide us how to fix the issues we are facing or is there any possibility to provide jar files ?

[2022-10-10 08:24] sidhoo-root commented on #64
@dhrishi ok ,thanks. and Is it related to using a virtual machine environment to install ?

[2022-10-10 08:26] dhrishi commented on #64
@sidhoo-root Yes, it seems so

[2022-10-10 10:20] khushbushah2302 commented on #63
Hi @uiabhishek15  ,

By following the instruction given on [this link](https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/android_building.md), I am able to build Matter code without using any jar files. I am building an app using script given in repo (without opening project in Android studio).

I am following below steps to build app.

1. Set environment variables with your

[2022-10-12 02:20] sidhoo-root commented on #64
@dhrishi i had installed it on the Ubuntu machine, it still report this error.   and the host : chrome-infra-packages.appspot.com can be ping, does it means the CIPD_HOST = 'chrome-infra-packages.appspot.com'  works in  my env ?

64 bytes from 199-193-116-105.static.hvvc.us (199.193.116.105): icmp_seq=1 ttl=128 time=220 ms
64 bytes from 199-193-116-105.static.hvvc.us (199.193.116.105): icmp_seq=2

[2022-10-12 09:20] ryan-ma opened #65 "Compilation error with CHIP_STACK_LOCK_TRACKING_ENABLED unset"
The compilation fail In file esp_matter_core.cpp
[code]
`PlatformMgr().IsChipStackLockedByCurrentThread()` is not available if `CHIP_STACK_LOCK_TRACKING_ENABLED` unset

We need to disable this flag to build the production firmware.
Otherwise, the binary file will contain file name path string generated by
[code]

[2022-10-13 02:57] sidhoo-root commented on #64
@dhrishi the problem was solved,  because the dns can't be parsed correctly in my office network

[2022-10-13 02:57] #64 closed

[2022-10-13 09:38] dhrishi commented on #64
@sidhoo-root Good to know that the issue is identified and resolved.

[2022-10-14 16:26] longnv97 opened #66 "[HELP] How to connect Matter device with Apple HomeKit"
I want to connect Matter device to the Apple homekit, but I do not find a guide to connect.
Please share with me any information about this. Thanks.

[2022-10-15 10:08] jakubdybczak commented on #66
https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/darwin.md

[2022-10-16 02:48] longnv97 commented on #66
Thanks for your sharing. Will you try to connect the Matter device with Apple Homekit?
I added the Matter device to Apple Homekit app, but I did not get/set the status for the Matter device from Apple Homekit app, the status of the Matter device is "no reply".
If possible, could you share your opinion?

[2022-10-16 07:46] longnv97 opened #67 "[HELP] How to connect Matter device with Amazon Alexa"
I want to connect Matter device to the Amazon Alexa, but I do not find a guide to connect.
Please share with me any information about this. Thanks.

[2022-10-16 08:50] jakubdybczak commented on #66
Yeah, I have tried it and had the same issue. In my case the reason was that I don’t have an Apple TV / HomePod. It’s required as it acts as home hub. (https://github.com/project-chip/connectedhomeip/issues/13296)

[2022-10-16 13:52] longnv97 commented on #66
I have success on ios 16 with developer mode and I have Homepod to the home center.
Did you try connecting Matter device with Amazon Alexa? I did not find any guide for this. If possible, could you share your experience?

[2022-10-16 13:55] longnv97 commented on #66
I have success on ios 16 with developer mode and I have Homepod to the home center.
Did you try connecting Matter device with Amazon Alexa? I did not find any guide for this. If possible, could you share your experience?

[2022-10-16 13:56] jakubdybczak commented on #66
Nice to hear it!
Nope, I haven't tried connecting Matter device to anything more than Homekit ;).

[2022-10-16 14:06] longnv97 commented on #66
Thank you!
I trying connecting Matter device to anything Home hub, but Matter is not ready for connect to Google home and Alexa.
There's not much documentation for that. If you find any guide, please share it with me.

In the link to guide Pair a Matter device with Google Home, I trying it: https://developers.home.google.com/matter/integration/pair#espressif

[2022-10-16 14:12] jakubdybczak commented on #66
I have tried to add Matter support to Google Home. I did it by:
1. Updating Google Play services: https://developers.home.google.com/matter/verify-services
2. Veryfing if Matter service is working (https://developers.home.google.com/matter/build/troubleshooting)
I had to restart my phone in order to have this service started.

Finally I have possibility to add Matter device (there is an option in

[2022-10-16 14:19] longnv97 commented on #66
Thanks for your useful information!
I will try it.
Hope to get help from you in the future :)

[2022-10-17 04:03] dhrishi commented on #66
@jakubdybczak Thank you for providing the pointers

@longnv97 Please close this issue if you are now able to connect to Apple HomeKit

[2022-10-17 04:05] dhrishi commented on #63
@uiabhishek15 @VivekPalle Did the above work? Please close the issue if it did. Thanks!

[2022-10-17 08:47] jadhavrohit924 commented on #65
How to disable `CHIP_STACK_LOCK_TRACKING_ENABLED`

[2022-10-17 15:12] s-mcclain opened #68 "blemesh_bridge commissioning failure with kCertificationDeclarationNoCertificateFound"
Using the blemesh_bridge example being built out-of-box and using the opensource chip-tool example, I'm consistently getting a commissioning failure with the following error:

[code]

On the ESP32 side, these are the logs which appear to not report any errors as far as not having any valid CDs?

[code]

[2022-10-17 15:35] chiragatal commented on #68
Can you update the chip-tool and try again? I have faced similar `AttestationVerification` errors and updating the chip-tool fixed it.

[2022-10-17 16:49] s-mcclain commented on #68
Hey @chiragatal  I just updated chip-tool to the latest v1.0-branch commit and rebuilt it. Unfortunately I am still seeing the same errors.

The strange thing is, I do not see these if I use the 'light' example application.

[2022-10-17 16:56] s-mcclain commented on #68
Looks like this may be a similar issue as https://github.com/project-chip/connectedhomeip/issues/23164

Looks like I should probably try to checkout v1.0-branch on the connectedhomeip submodule that esp-matter pulled from. Will test this out

[2022-10-17 18:11] s-mcclain commented on #68
That was it! Checking out v1.0-branch in the connectedhomeip submodule led to successful commissioning of the blemesh_bridge.

[2022-10-17 18:11] #68 closed

[2022-10-18 17:28] jakubdybczak commented on #66
@longnv97 I have tried connecting Matter device to Google Home but also haven't success. During pairing it says that could not add device to Google account. I have looked to adb logs and found this message:
[code]

`Requested entity was not found.` sounds like some HTTP error? I'm not sure. Maybe its a bug in Play Services. It looks like everything is buggy and not mature enough to work flawless y

[2022-10-19 07:50] longnv97 commented on #66
@jakubdybczak Thank you for your information.
I think I got the same issues as you. Please update if you have any new information.
I will do that too.

[2022-10-19 07:54] jakubdybczak commented on #66
@longnv97 I don't feel like it's best place to have a discussion, I think we are off-toping. Can you reach me at jakub.dybczak@gmail.com and close this issue, as there is no longer a problem with HomeKit? Regarding problem with connecting Matter with Google I would suggest opening an issue in main Matter repo or writing to Google.

[2022-10-19 07:58] longnv97 commented on #66
@jakubdybczak ok, I got it, I will connect to you by gmail

[2022-10-19 07:58] #66 closed

[2022-10-19 18:50] JonathanWitthoeft opened #69 "Matter Client as well as a Thread Border Router"
There is an example of a thread boarder router code here:
https://github.com/espressif/esp-idf/tree/master/examples/openthread/ot_br

There is an example of a Matter Client here:
https://github.com/espressif/esp-matter/tree/main/examples/light_switch

I am wondering if these 2 can co-exist. If I wanted a thread boarder router that can also control a specific thread Matter Server device, how would

[2022-10-19 18:57] VivekPalle commented on #59
@dhrishi @jonsmirl
Thanks for your support. The task is running perfectly.
Any more updates on metering cluster (to send Voltage, Current, Power and Energy parameters) in these days?

I am facing a challenge while testing my code (Socket application), I observed in many cases when I controlled the switching of Relay ON/OFF from the chip-tool the control is happening twice and the load is coming ba

[2022-10-20 06:53] VivekPalle commented on #59
- Chip-tool "Unpair" command is not working to clear the details in the matter device. We are always erasing and flashing the firmware. Please suggest how to remove and re-add the device.
- Seems the debounce time is not implemented in the sample code (lighting-app) for push or toggle button. Sometimes the state change is not happening correctly. It is changing the state twice or more. Please help

[2022-10-20 11:00] chshu commented on #69
Yes, the two can co-exist. It will be a Matter device with Thread Border Router capacity.

The Thread Border Router simply forwards IP layer messages between Wi-Fi and Thread networks, it doesn't handle any application layer (Matter in this case) logic. In the case that a Matter Client runs on a Thread Border Router (1st device) sends a message to another Thread Matter client (2nd device), the 1st

[2022-10-21 10:35] VivekPalle commented on #59
@dhrishi @jonsmirl

I came out of the below issues after implementing the de-bounce time for push button switch.
- load flickering with button de-bouncing.
- Also the device controlling twice when toggling the state from chip-tool. When onoff command sent from the chiptool, the device controlling once and there is an interrupt from the switch due to relay switching that might causing some de bounc

[2022-10-22 05:17] xiaolongba opened #70 "Can BLE Mesh device connect to Matter Network?"
Hello Espressif Experts,

I checked the esp-matter SDK and found that there is **blemeshbridge** example project. based on the description, it means that the BLE mesh device can connect to the Matter network via a ble mesh bridge. However, I checked the matter v1.0 spec, it only supports the Matter over Thread and Matter over WiFi. so I have the following issues, as follows:

1. if it is against t

[2022-10-23 20:01] jonsmirl commented on #70
The blemeshbridge has to be Matter certified.  When the BLE bridge connects to a BLE mesh device (not normal BLE) it typically connects using BLE mesh encryption, so you have to have the QR code for the device with the key in it. This is similar as how Matter works. The bridge then constructs a Matter proxy for the BLE mesh device. It is this Matter proxy which has to be Matter certified. So the M

[2022-10-23 20:02] jonsmirl commented on #69
This is a common configuration, every Echo and Google Home is doing this. You typically use a larger CPU to build this.

[2022-10-23 20:04] jonsmirl commented on #67
I have been signed up on the Amazon Matter beta list for a year and they have never sent me anything. I do know they are supporting Matter in their Echos, they just don't seem to want to share their code.  Whenever they decide to release it, it should work similarly to the Google and Apple support.

[2022-10-23 20:08] jonsmirl opened #71 "Google sample app not working with esp-matter"
This is due to a Google update requiring that attestation work, and esp-matter is not implementing an attestation that Google will accept.
https://github.com/google-home/sample-app-for-matter-android/issues/29

Google has not implemented the  "allow uncertified device" popup like Apple has done.

I tried playing with the data provider options in menuconfig and could not come up with anything that

[2022-10-24 02:30] ryan-ma commented on #65
I disable it by modify BUILD.gn in local platform. The BUILD.gn is copied from in connectedhomeip/src/platform

[2022-10-24 03:40] xiaolongba commented on #70
Hello Jonsmirl,

I am clear about the functionality of the matter bridge now, however as you said above

Matter app how to control the non-matter devices? in my understanding, the bridge should map the non-matter devices to the matter network, and then non-matter devices can be controlled or communicate with other matter devices via Matter App directly. the more details about it, pls refer to this

[2022-10-24 12:11] jonsmirl commented on #70
The Matter app manipulates the Matter device proxy in the certified bridge. Code in the bridge implements the certified device and as you send commands to it, the bridge translates those command and then sends them onto BLE mesh devices.  You can see the bridge doing the mapping in this file... https://github.com/espressif/esp-matter/blob/main/examples/blemesh_bridge/main/blemesh_bridge.cpp

[2022-10-24 12:22] xiaolongba commented on #70
@jonsmirl

Many thanks for your replies. so based on the description you said above, the Matter App can also control non-matter devices, but it needs to be translated, right? the diagram as below:
![image](https://user-images.githubusercontent.com/16135532/197524208-ccbb3a42-4421-4e25-8b12-d9f6a4fb18ae.png)

so it is almost the same as controlling the matter devices

[2022-10-24 13:15] xiaolongba commented on #70
@jonsmirl OK, thanks. Let me look into the code you shared first. any more further info I will reopen it.

thanks again.

[2022-10-24 13:31] JonathanWitthoeft commented on #69
Thanks @jonsmirl and @chshu. I made the assumption I would need to be a boarder router to create a thread network, but I think that was a misunderstanding of Matter and Thread fundamentals on my part. I know this question likely doesn't belong here, as it is more a design question but my requirements are as follows.
1. The device needs to be a thread Matter controller
2. If commissioned to a threa

[2022-10-24 13:55] jonsmirl commented on #69
There is an Espressif border router demo...
https://github.com/espressif/esp-thread-br

[2022-10-24 17:14] jonsmirl commented on #71
Moving esp-matter over to CHIP master will allow the devices to talk to Google Home again.

[2022-10-25 07:20] VivekPalle commented on #59
Hi,

Awaiting your response on this? This helps us to move further.

[2022-10-25 10:19] jonsmirl commented on #59
In the "light-switch" example, how do I see the notifications from the device (when button pressed) in the chip-tool. In my application, going to implement multiple switches to control multiple loads. I just want to understand whether my implemented switches are sending notifications or not.

you need to subscribe to them

Also want to know how do I enable the multiple endpoints to the multiple sw

[2022-10-25 11:24] VivekPalle commented on #59
@jonsmirl Thanks for your response.

I worked on "lighting-App" example and subscribed to "on-off" events from Chip-tool. Verified the same in chip-tool, it is working.

But in "light-switch-app" example, when I try to subscribe to onoff / switch, the response is "unsupported cluster".
Below the subscriptions I tried.
- switch subscribe number-of-positions 2 5 789456 1
- onoff subscribe on-off 2 5

[2022-10-25 11:38] jonsmirl commented on #59
The esp-matter light-switch-app is an example of the OnOff switch cluster. The OnOff switch is designed to be bound to a light bulb. You are probably looking for the generic Switch cluster which is a different device type.

``
        generic_switch::config_t generic_config;
        endpoint_t *endpoint3 = generic_switch::create(node, &generic_config, ENDPOINT_FLAG_NONE, (void *)i);
``

[2022-10-25 18:41] jonsmirl opened #72 "How to set field on Basic Information cluster"
So how do I set these?
[code]

[2022-10-26 04:00] dhrishi commented on #71
@jonsmirl Is this with the current connectedhomeip submodule `87bee4de25886ba00f1a177cd0f8791a48528a1f` ?

[2022-10-26 04:02] dhrishi commented on #63
@uiabhishek15 @VivekPalle Did you get this to work?

[2022-10-26 04:32] dhrishi commented on #59
@VivekPalle I will first talk about the unpair part. I assume that you want to uncommission or remove a device from the fabric. If that is the case then please see the below steps:

1. Commission the device using pairing ble-wifi command
$ ./out/debug/chip-tool pairing ble-wifi <node-id> TESTSSID TESTPASSWD 20202021 3840

2. Read current fabric index:
$ ./out/debug/chip-tool operationalcredentials

[2022-10-26 04:43] dhrishi commented on #59
@VivekPalle There are 2 different clusters (and hence device types) here:
1. On/Off client cluster (On/Off Light Switch device type) - That can send commands or subscribe to attributes of On/Off server cluster to control them.
2. Switch server cluster (Generic Switch device type) - That has attributes and events (switch long press, switch short press etc.) of its own.

The light_switch example has

[2022-10-26 05:07] VivekPalle commented on #59
@dhrishi

Thanks for your response. I am clear with the uncommission part.

- In the "lighting-app" example we were able to subscribe to "onoff" cluster with on-off attribute and got the events in the chip-tool.
- In the "light-switch-app", which cluster and attribute helps to see the switch press notifications in the chip-tool.?
This helps us in implementing multiple switches application to check

[2022-10-26 05:14] dhrishi commented on #59
In lighting-app example upstream, the device is On/Off server cluster. And hence the chip-tool which has the On/Off client cluster can subscribe to OnOff attribute on the device and get notified when it is updated.

In light-switch-app there is no server cluster (and hence no attribute). For that, you will need the switch device type (2. in my above comment). So that, the chip-tool can commission

[2022-10-26 08:17] VivekPalle commented on #59
@dhrishi

I just tested the uncommission part.

I will first talk about the unpair part. I assume that you want to uncommission or remove a device from the fabric. If that is the case then please see the below steps:

Another option is to reset to factory the device (rather than erase flash every time) using the Boot button on ESP32-C3. Long press it for around 7-8 seconds. You will see the print:

[2022-10-26 08:28] dhrishi commented on #59
@VivekPalle

Which lighting-app are you talking about? If it is the upstream connectedhomeip lighting-app then it won't work.

Ideally, it should work. See this: https://github.com/espressif/esp-matter/blob/main/examples/light_switch/main/app_main.cpp#L89.

Alternatively, you can use the CLI `matter esp factoryreset` to reset the device to factory settings using the console.

[2022-10-26 12:49] uiabhishek15 commented on #63
@dhrishi No we are still unable to generate the library classes which are useful for the main application.

[2022-10-26 12:57] jonsmirl commented on #71
I am randomly using  0bff5ad04c696626ce3aa8fcc5c9e229ed8bacf0.

But the problem was faad9e179293775110f09692cd1c28e0d71b792f

[2022-10-26 13:13] chshu commented on #69
@JonathanWitthoeft Firstly I want to clarify that:

A Matter Controller who hopes to control Matter Thread devcies, doesn't have to be a Border Router by itself. It could be just a Wi-Fi based controller, then a Thread Border Router in the same local network could connect and rounting the messages between the Controller and Thread devices. The Thread Border Router helps with the Bi-directional Con

[2022-10-26 17:43] jonsmirl commented on #72
this doesn't work because the fields are read-only.  With ZAP you can set them in as initializers when the structure is created. Add them as parameters on the constructor for Basic Info?
[code]

[2022-10-27 01:30] jonsmirl opened #73 "How to add a PartsList to Descriptor cluster on EP"
So I make my generic switch EP...
[code]
Now I need to add endpoint1 and endpoint2 to the PartsList on the Descriptor cluster of endpoint3.
So how do I so that? This is similar problem to the BasicCluster, the PartsList field is Read-Only.

[2022-10-27 06:13] chiragatal commented on #72
For `Attributes managed internally`, the read, write, default values, all of them were handled in the upstream code itself in their respective `src/app/clusters/` file. So, we do not store/update their values in the esp-matter database, and let the upstream database handle it.

These attributes are typically read from some other source, example, from nvs, or other components like `ConfigurationMgr

[2022-10-27 07:41] chiragatal commented on #73
The last argument for `emberAfSetDynamicEndpoint()`, which is being used in esp-matter to create all the endpoints, is parent_endpoint_id. The parts list is created internally based on this.

Currently in esp-matter, this is just being set to kInvalidEndpointId for all the endpoints. This needs to be fixed and handled correctly in esp-matter. Maybe a separate API to add the parent_endpoint_id woul

[2022-10-27 12:45] jonsmirl commented on #72
I see now that these are set via menuconfig.
Component config -> CHIP Device Layer -> Device Identification Options -> ....

Menuconfig is missing the ability to set in the strings for these options such as vendorName, productName, hardwareVersionString, etc...

[2022-10-27 12:50] jonsmirl commented on #72
The Unique field should retrieve the hardware MAC address.

[2022-10-27 13:15] VivekPalle commented on #59
@dhrishi

I am using upstream connectedhomeip examples from the start.  Just moved to work with the examples available in the esp-matter/examples folder.
![Screenshot from 2022-10-27 18-38-19](https://user-images.githubusercontent.com/52316254/198293336-9141773c-0c92-46a0-8e2d-be00aba1b0e2.png)

- I just tried to check binding and acl with light-switch and light examples, but it is not working. Th

[2022-10-27 13:18] VivekPalle commented on #59
Also the button long press reset is not working with light-switch example and working fine with light example.

[2022-10-27 14:21] jonsmirl commented on #62
it looks like a permissions problem...
[code]

[2022-10-27 14:25] jonsmirl commented on #63
Google has abandoned the Android app in the Matter tree. Only Amazon is still using it.

The new Google Matter support is here:
https://developers.home.google.com/matter

[2022-10-27 14:32] jonsmirl commented on #71
[code]

changes the CHIP certificates. This is a bit of a mess because some Google stuff is on the old certificates and some is on the new ones. They are working on sorting it out.

[2022-10-27 14:39] jonsmirl commented on #54
This is the actual issue
https://github.com/espressif/esp-matter/issues/73

[2022-10-27 14:39] #54 closed

[2022-10-27 15:05] longnv97 commented on #67
@chshu @jonsmirl Thanks for your information.

[2022-10-27 15:18] jonsmirl commented on #67
Practice right now making your devices work with "Siri" and "Ok, Google". If they work right with those two, then they will work right with Alexa whenever Amazon decides to release their support. All three vendors are using the same mechanism for voice control.

https://developers.home.google.com/matter

[2022-10-27 15:48] jonsmirl commented on #67
You are probably hitting this issue

https://github.com/google-home/sample-app-for-matter-android/issues/29

[2022-10-28 04:44] mrninhvn opened #74 "[Feature request] ESP Matter work with IPv6 over BLE (RFC7668)"
Matter is an application layer that runs on IPv6 networks, so it would be nice if it supports IPv6 BLE networks.
Most ESP32 chips have BLE and already have an IPv6 stack implemented, although it hasn't been updated for a while:
[https://github.com/espressif/esp-lwip/blob/2.1.2-esp/src/netif/lowpan6_ble.c](url)

[2022-10-28 08:50] sidhoo-root commented on #2
i meet this issue too. can u help me
details:

ubuntu 20.04 on vitual meachine
device is esp32c3,
1. flash the manufacturing binary [https://github.com/espressif/esp-matter/tree/main/tools/mfg_tool#readme](url),
2. run device, log:

Build:Feb  7 2021
rst:0x1 (POWERON),boot:0xd (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
mode:DIO, clock div:1
load:0x3fcd6100,len:0x16b4
load:0x403ce000,len:0x930
load:0x403d000

[2022-10-28 08:54] sidhoo-root opened #75 "chip-tool pairing ble-wifi failed"
i meet this [issue](https://github.com/espressif/esp-matter/issues/2) too. can u help me
details:

ubuntu 20.04 on vitual meachine
device is esp32c3,

1. flash the manufacturing binary https://github.com/espressif/esp-matter/tree/main/tools/mfg_tool#readme,
2. run device, log:
ESP-ROM:esp32c3-api1-20210207
Build:Feb 7 2021
rst:0x1 (POWERON),boot:0xd (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
mode:DIO, clock

[2022-10-28 13:18] shun-dgut opened #76 "How do I enable ap to configure network information instead of configuring network information through ble"

[2022-10-28 14:05] jonsmirl commented on #74
The Matter group has pushed Matter over BLE to the next release (or maybe further). It is in the Matter spec, they just aren't going to support it until later.

BLE Mesh support is available right now.
https://github.com/espressif/esp-matter/tree/main/examples/blemesh_bridge

[2022-10-28 14:14] jonsmirl commented on #76
You can bring the ESP32 up on wifi first using whatever method you choose. You can use SmartAP if you want. This has nothing to do with Matter.

After the ESP32 is up and on wifi, start Matter. Matter will make wifi MDNS entries which will allow anyone on the network to find the device and commission it. There is no requirement to initially configure via BLE. Most people are going to do it that wa

[2022-10-28 14:15] jonsmirl commented on #75
Your device is failing to attach to your wifi router.
[code]

[2022-10-28 14:16] jonsmirl commented on #73
I will test this and soon as it is available. I need to see what Apple and Google Home are going to do when they see the device partslist.

[2022-10-28 15:26] #40 closed

[2022-10-28 15:26] #26 closed

[2022-10-28 15:27] #27 closed

[2022-10-28 15:27] #71 closed

[2022-10-28 18:01] jonsmirl opened #77 "PartsList of EP0 and Bridges"
Section 9.13.6 of the CHIP spec describes how a controller is able to monitor devices being added or removed from a bridge.
[code]

Is the esp-matter endpoint creation code modfying the PartLists on EP0 as required?  These needs to dynamically happen, not just at initialization time. If I have a commissioned bridge running, and then add another BLE/Zigbee device to it, the PartList on EP0 should d

[2022-10-30 07:21] sidhoo-root commented on #75
@jonsmirl yes, but chip-tool report the same error on a ubuntu meachine,here it is
![image](https://user-images.githubusercontent.com/45776668/198867139-659c9e3f-8884-41a9-96a2-f29f99dc8ee4.png)

[2022-10-30 11:47] jonsmirl commented on #75
I can not get chip pairing to work on my Ubuntu machine unless I add a second USB Bluetooth adapter and tell chip-tool to use it. This is because the Ubuntu Bluetooth code has control of the first adapter. Some people can get it working with just one, but I am unable to get it working solo.

BTW, the screen shot cuts off before any error is visible.

[2022-10-30 14:52] VivekPalle commented on #59
@dhrishi
Any updates on this?

And also want to check, any recent examples available with energy metering (voltage, current, power and Energy) cluster support?

[2022-10-30 16:13] jonsmirl commented on #59
Energy metering is not supported in the first Matter standard. It has been pushed in to the next version. If you want it, you have to do it with custom non-standard clusters that Amazon, Google, Apple, etc are not going to understand. Only your own app will be able to read it.

[2022-10-31 05:34] chiragatal commented on #77
This is not explicitly happening in esp-matter. I could see some code in `attribute-storage.cpp` which reports the PartsList when a dynamic endpoint is enabled/disabled. For enabling, i.e. adding new endpoints, I think this should work.

For disabling, we call the `emberAfClearDynamicEndpoint()` API from esp-matter, which then reports the PartsList. But I am not sure if it will work as expected. W

[2022-10-31 06:58] linhr3 opened #78 "ESP Matter app connect to WiFi failed"
Hi Espressif Experts,
I tried to run the light DEMO but the ESP Matter app showed that the transaction timed out.

The detail:
board chip: ESP32
ubuntu 20.04 on virtual machine
idf.4.4.2
matter code commited by 2020.9.13
After scanning the QR code, I chose the WiFi item. Then the device should have succeeded in  connecting to the AP (I initiated the AP from the iphone). But after a while, the app

[2022-10-31 07:28] dhrishi commented on #78
@linhr3 Can you please try out with the latest codebase? Also, please share the software version of the iPhone and the HomePod/Apple TV, so that we can try that out. Note that, you would require the hub to perform successful commissioning.

[2022-10-31 07:30] dhrishi commented on #75
@sidhoo-root Can you upload/attach the complete chip-tool logs. The screenshot does not seem to show the required errors

[2022-10-31 07:44] sidhoo-root commented on #75
@dhrishi ok. is this issue related to my desktop ubuntu meachine ?

logs:
efsz@lipeiquan-pcub:~/esp/esp-matter/connectedhomeip/connectedhomeip/chip_tool$ ./chip-tool pairing ble-wifi 1234 Redmi_huan 87654321 38802273 2481
[1667114262.217646][58592:58592] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_kvs
[1667114262.217754][58592:58592] CHIP:DL: ChipLinuxStorage::Init: Using KVS

[2022-10-31 07:58] dhrishi commented on #75
@sidhoo-root Yes, it looks like the issue related to BLE on your host machine. See the below in your logs:

[1667114287.233610][58592:58597] CHIP:BLE: No adapter available for new connection establishment

[2022-11-01 06:19] dhrishi commented on #59
@VivekPalle Can you confirm if you've followed the steps mentioned [here](https://github.com/espressif/esp-matter/tree/main/examples/light_switch#21-bind-light-to-switch)

We will check this

[2022-11-01 06:25] VivekPalle commented on #59
@dhrishi

@VivekPalle Can you confirm if you've followed the steps mentioned [here](https://github.com/espressif/esp-matter/tree/main/examples/light_switch#21-bind-light-to-switch)

Yes, I followed the same. It worked for me with upstream connectedhomeip examples, but not worked with the espressif specific examples.

[2022-11-01 06:28] dhrishi commented on #59
Ok. We will test with the latest codebase and update. It will be helpful if you can upload the entire console logs on both the device as well as the chip-tool side.

[2022-11-01 07:19] sidhoo-root commented on #75
@dhrishi Thanks , i am trying to pair the device with another laptop computer

[2022-11-01 10:15] jadhavrohit924 commented on #59
@VivekPalle
Light and light-switch if working fine on commit id `3401f142664c76172365a49503c83c47ca568051`.
Upstream submodule commit id `87bee4de25886ba00f1a177cd0f8791a48528a1f`

[2022-11-01 10:40] jadhavrohit924 commented on #59
Reset is also working on above commits

[2022-11-01 12:57] jonsmirl commented on #75
I just stick a $2 USB Bluetooth adapter into the computer and then use '--ble-adapter 1' on chip-tool.

This is kind of hit or miss. Some of my computers work ok without the extra adapter, some need it. This is not anything to do with Matter, I think it is a function of the Bluetooth hardware in the computers. Some computers have very minimal BT hardware which is not capable of being shared.

[2022-11-01 14:40] dhrishi commented on #59
@VivekPalle Please see the above comments. Can you try with the latest code? If it doesn't work, please feel free to upload the logs on the device as well as chip-tool side. Where does it fail for you? Commissioning, ACL or Binding?

[2022-11-02 05:19] jadhavrohit924 commented on #76
Steps:-

- Flash light examle of esp-matter
- Connect wifi through matter CLI

- Commission light using controller

[2022-11-02 06:29] linhr3 commented on #78
@dhrishi Hello
We tried with the lastest codebase but still failed.
Detail:
iphone12promax
system: ios 16.1
We do not have the HomePod/Apple TV and did not try with them. We tried with Espressif-Matter app (V1.0.2) from App Store. And the app even could not pair with the esp32 device this time with the lastest codebase.
Shoud we need the hub (HomePod or Apple TV) to perform the commission? We will

[2022-11-02 13:53] dhrishi commented on #76
@shun-dgut Can you please try out the steps mentioned above? Let us know if it helps.

[2022-11-02 13:56] dhrishi commented on #74
@mrninhvn IPv6 for BLE is not a part of Matter v1.0 specification and hence the implementation. The supported transports for Matter in v1.0 over IP are: Wi-Fi, Ethernet and Thread.

Please close the issue if your question is answered.

[2022-11-03 03:58] #74 closed

[2022-11-03 04:13] shun-dgut commented on #76
![image](https://user-images.githubusercontent.com/31812214/199646269-2dd7a57f-4afd-42d6-84ee-2fd91a92b0cc.png)

[2022-11-03 04:20] dhrishi commented on #76
@shun-dgut You missed "connect" in the command?

[2022-11-03 05:14] dhrishi commented on #69
@JonathanWitthoeft Please close the issue if your questions are answered

[2022-11-03 05:18] dhrishi commented on #67
@longnv97 Please close this issue if your original question about Amazon Alexa is answered

[2022-11-03 05:19] dhrishi commented on #70
@xiaolongba Please close this issue if your original question about BLE Mesh and Matter is answered.

[2022-11-03 05:50] linhr3 commented on #78
@dhrishi Hi
We added the board to Apple Home with a HomePod successfully. Thanks!
There is still a question that why we need a HomePod or a Apple TV as a hub to perform successful commissioning? What role does a hub play during commissioning? Thank you.

[2022-11-03 06:02] #70 closed

[2022-11-03 06:03] shun-dgut opened #79 "examples/light chip tool Configuration failed"
chip： esp32c3
sdk :    commitid 669070a3d2f9d8cf3dd08cafe8a82ee316a4cf90

LOG：
[2022-11-03 12:21:13.335]# RECV ASCII>
ESP-ROM:esp32c3-api1-20210207
Build:Feb  7 2021
rst:0x1 (POWERON),boot:0xd (SPI_FAST_FLASH_BOOT)
SPIWP:0xee
mode:DIO, clock div:1
load:0x3fcd6100,len:0x16bc
load:0x403ce000,len:0x930
load:0x403d0000,len:0x2d28
entry 0x403ce000
[0;32mI (30) boot: ESP-IDF v4.4.2-dirty 2nd stage boot

[2022-11-03 06:11] shubhamdp commented on #79
@shun-dgut Logs says that commissioning was successful.

Can you elaborate a bit more on "chip tool Configuration failed"?

A minor suggestion: May be for next issues, you can put the logs into file or put them under [<detail>](https://gist.github.com/scmx/eca72d44afee0113ceb0349dd54a84a2).

[2022-11-03 08:12] #78 closed

[2022-11-03 08:40] shun-dgut commented on #79
Thanks for your reply, but it seems out of control. I tried adding with home in ios 16.1, ca
[matter send cmd.txt](https://github.com/espressif/esp-matter/files/9926719/matter.send.cmd.txt)
n connect to the same network, but can't control it, home display doesn't respond.
This is the control log of the chip tool.

[2022-11-03 08:41] shun-dgut commented on #79
This is the control log of the chip tool
[matter send cmd.txt](https://github.com/espressif/esp-matter/files/9926730/matter.send.cmd.txt)

[2022-11-03 08:42] shun-dgut commented on #79
I also tried adding devices using ios16.1 home, devices can be added but not controlled

[2022-11-03 08:47] shubhamdp commented on #79
@shun-dgut Looks like you have attached an empty log file. Can you please re-attach the one with logs?

Did you use this along with Apple HomePod or Apple TV? Because, it would be required for controlling the devices.

[2022-11-03 08:54] shun-dgut commented on #79
[matter send cmd.txt](https://github.com/espressif/esp-matter/files/9926823/matter.send.cmd.txt)

Sorry, this is the log.
Matter over wifi can't communicate directly with home?

[2022-11-03 08:55] shun-dgut commented on #79
[matter send cmd.txt](https://github.com/espressif/esp-matter/files/9926845/matter.send.cmd.txt)
s.

Sorry, this is the log.
Matter over wifi can't communicate directly with home?

[2022-11-03 08:57] shubhamdp commented on #79
Please take a look at this thread https://github.com/espressif/esp-matter/issues/78#issuecomment-1296698698

[2022-11-03 09:58] sidhoo-root commented on #75
@jonsmirl @dhrishi thank you . it works within the laptop computer, the device can be pairing now. but it comes anther problem, the device can not be control by chiptool. i will open another issue to push the log

[2022-11-03 09:58] #75 closed

[2022-11-03 10:02] sidhoo22 opened #80 "chip-tool onoff toggle failed"
steps:
1../chip-tool pairing ble-wifi 1234 Redmi_huan 87654321 38802273 2481
2../chip-tool onoff toggle 1234 1
[chiptool_onoff_tooggle_timeout.log](https://github.com/espressif/esp-matter/files/9927295/chiptool_onoff_tooggle_timeout.log)

[2022-11-03 10:03] sidhoo-root commented on #80
efsz@huxu-ubnb:~/esp/esp-matter/connectedhomeip/connectedhomeip/SOME-PATH$ ./chip-tool onoff toggle 1234 1
[1667469153.974623][198816:198816] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_kvs
[1667469153.974712][198816:198816] CHIP:DL: ChipLinuxStorage::Init: Using KVS config file: /tmp/chip_factory.ini
[1667469153.974732][198816:198816] CHIP:DL: ChipLinuxStorage::Init: Using K

[2022-11-03 11:16] dhrishi commented on #80
@sidhoo-root Please provide more details:
1. Commit id used - esp-matter as well as the submodule connectedhomeip. Please make sure that it is the latest
2. Is chip-tool compiled on the same commit as the esp-matter example you are trying? If not, please recompile as the error that is seen hints at the inconsistency.

[2022-11-03 11:26] dhrishi commented on #76
@shun-dgut This should work fine. Please close the issue if it does

[2022-11-03 12:59] sidhoo-root commented on #80
@dhrishi
idf branch : v4.4.2
esp-matter commit id :  3401f142664c76172365a49503c83c47ca568051 (grafted, HEAD -> main, origin/main, origin/HEAD)
connectedhomeip commit id : commit 87bee4de25886ba00f1a177cd0f8791a48528a1f (grafted, HEAD)
                                                            Author: Shubham Patil <shubham.patil@espressif.com>

[2022-11-04 02:38] jonsmirl commented on #80
Your chip-tool and device are on different Matter releases.
[code]

You are in this situation.  https://github.com/google-home/sample-app-for-matter-android/issues/29

[2022-11-04 02:44] jonsmirl commented on #67
https://www.engadget.com/amazon-echo-device-matter-support-compatibility-141558771.html
Amazon will bring Matter smart home support to 17 devices this year

They never let me into their beta despite having signed up almost two years ago.  I guess I will test my stuff on their production release.

[2022-11-04 08:06] dhrishi commented on #79
@shun-dgut Please close this if your issue is resolved

[2022-11-04 08:15] dhrishi commented on #76
Closing this now. Feel free to re-open with the details in case you still see the issue

[2022-11-04 08:15] #76 closed

[2022-11-04 08:23] Firesuiry opened #81 "set-target esp32c3 error"
https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html
I follow the document and fail when set-target esp32c3 with example **light**
the error is :

[code]

how can i solve this error?

[2022-11-04 08:38] sidhoo-root commented on #80
@jonsmirl Should i flash the manufacturing binary again ?
and there is a new Failed report : [1667550728.773151][1631208:1631211] CHIP:BLE: Device 1C:52:16:B9:A1:10 does not look like a CHIP device.

[2022-11-04 08:44] dhrishi commented on #80
@sidhoo22 Clean and re-compile chip-tool with the latest esp-matter code base and try with the light firmware on the same codebase, so that both are in sync.

[2022-11-04 13:05] jonsmirl commented on #81
When you copied out of tree you probably did not copy everything, it is here:
https://github.com/espressif/esp-matter/tree/main/examples/common

[2022-11-04 13:59] Firesuiry commented on #81
Thank you a lot!
I copy all the example dir and it works!

[2022-11-04 13:59] #81 closed

[2022-11-05 06:10] Firesuiry opened #82 "chip-tool connect fail, how to solve"
I have built a example light with esp32c3
I want to connect it with chip-tool
But it need setup_passcode and I dont know where to get it.
I try it but it seems connecting fail.

The log from esp32c3 is as follows:
[code]

the log from chip-tool is as follows:
[code]

[code]

[2022-11-05 07:08] dhrishi commented on #82
@Firesuiry If it is the default example from the repository, you can find the documentation for commissioning using chip-tool [here](https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html#commissioning)

[2022-11-05 07:37] Firesuiry commented on #82
I follow this but the connect seems failing, the log is at the bottom of the issue~&nbsp;

---Original---
From: "Hrishikesh ***@***.***&gt;
Date: Sat, Nov 5, 2022 15:09 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [espressif/esp-matter] How to use chip-tool? (Issue #82)

@Firesuiry If it is the default example from the repository, you can find the documentation for commissi

[2022-11-05 07:51] dhrishi commented on #82
@Firesuiry Looks like some issue with the chip-tool Wi-Fi adapter:

If the Wi-Fi interface is available and working fine, then please start afresh:

Reset to factory the device by entering the following command on the device (ESP32) console:
`matter esp factoryreset`

Chip-tool command:
[code]

[2022-11-05 09:09] Firesuiry commented on #82
Thank you for your reply~
There are still 3 problems:
1. My PC don`t have a BLE adapter, should I buy one to connect it?
2. the ESP32C3 has joined the wifi, can I connect it with "pairing onnetwork 0x11 20202021"?
3. I tried reset but got an error, the log is as follows:
[code]

[2022-11-05 10:52] dhrishi commented on #82
@Firesuiry If you do not have BLE adapter then you can try on-network commissioning. But the above case won't help as it is in some inconsistent state of being commissioned ie. BLE based commissioning incomplete.

Erase flash and re-flash (as reset to factory is not working on your side) and follow [this](https://github.com/espressif/esp-matter/issues/76#issuecomment-1299587379)

If you want to tr

[2022-11-06 12:02] Firesuiry commented on #82
I tried
[code]
the log is as follows, dose it success?
[code]

[2022-11-06 12:04] Firesuiry commented on #82
what`s more, my device is esp32c3-devkitm,
how can I close the led on the board?
I tried
[code]
 but it has no effect..

[2022-11-06 12:06] Firesuiry commented on #82
![2022-11-06-200601](https://user-images.githubusercontent.com/30189673/200169722-dce6b3d8-d04c-48b9-8f32-78e26eebbb36.jpg)

[2022-11-07 09:53] Firesuiry opened #84 "Is there a app on Andriod that I can connect matter object with it?"
Is there a app on Andriod that I can connect matter object with it?

[2022-11-09 02:13] chshu commented on #51
@jonsmirl  Could you try out the https://github.com/espressif/esp-matter/commit/84db3c810a508b4e793fdce9c3cd14add01afc5a for new group commands, please help to close the issue if it works for you.

[2022-11-09 02:15] chshu commented on #65
@ryan-ma Could you check has https://github.com/espressif/esp-matter/commit/f8fec4e92f4f1b26f8b2d2322c1b0833853472ca fixed the compile issue?

[2022-11-09 04:05] Firesuiry commented on #82
I success! thank you~

[2022-11-09 04:05] #82 closed

[2022-11-09 09:18] dhrishi commented on #80
@sidhoo22 Did it work? Please close the issue if it did

[2022-11-10 02:30] sidhoo22 commented on #80
@dhrishi no, it not work  i will post the log later, thanks for your patience

[2022-11-10 10:37] dhrishi commented on #80
Please follow https://github.com/espressif/esp-matter/issues/80#issuecomment-1303126211 and if it still doesn't work then share the logs on both chip-tool and ESP32 side along with the commit ids on which both of these have been compiled.

[2022-11-10 10:45] dhrishi commented on #84
@Firesuiry There is one in the upstream connectedhomeip repository which you can find [here](https://github.com/project-chip/connectedhomeip/tree/master/examples/android/CHIPTool)
This also has the documentation about building the Android app.

[2022-11-11 00:57] jonsmirl commented on #72
Bump -- menuconfig is missing a lot of these static settings.

[2022-11-11 01:31] jonsmirl opened #85 "matter shell over /dev/ttyACM0"
Matter shell works fine over /dev/ttyUSB0, how do I make it work on /dev/ttyACM0?

[2022-11-11 01:42] jonsmirl commented on #85
I switched the primary console over to JTAG-USB instead of it being the secondary console. I can see the matter shell prompt, but then it gets stuck in a loop.  So this appears to be broken on /dev/ttyACM0 which is a problem because that is only console on our devices.

[2022-11-11 13:58] jonsmirl commented on #85
The esp-idf example in examples/system/console/basic works fine on our ttyACM0 devices, so this appears to be matter specific.

[2022-11-11 14:08] jonsmirl commented on #84
Official Google sample is here:
https://developers.home.google.com/samples/matter-app

[2022-11-13 13:29] Firesuiry commented on #84
@dhrishi @jonsmirl Thank you！

[2022-11-13 13:29] #84 closed

[2022-11-13 13:48] HomeACcessoryKid opened #87 "branch and commit of chip inconsistent"
Currently the checked out chip component is 87bee4d
However, the readme and the docker instructions still refer to 4f7669b

I assume this needs to be made consistent

[2022-11-14 02:34] fkkjohn opened #88 "Windows 10 install: git-lfs: command not found (can't install esp-matter SDK using provided tools/commands)"
Using the OFFLINE installation files for ESP-IDF (https://dl.espressif.com/dl/esp-idf/?idf=4.4), and installing the bundled 4.4.2 with IDE as well as the updated 4.4.3 standalone, I have a functional ESP-IDF/IDE installation. Now I'm attempting to install the ESP-MATTER SDK, and after success enabling long path names, I have encountered what looks to be my last problem: The git LFS plugin won't in

[2022-11-14 03:44] fkkjohn commented on #88
I found a hacky workaround for the git-lfs errors, but the "fatal: '$GIT_DIR' too big" errors persist.

For the git-lfs problem, find your git.exe in your embedded install folder, and paste the contents of the binary download (https://github.com/git-lfs/git-lfs/releases/download/v3.2.0/git-lfs-windows-amd64-v3.2.0.zip) in there and then run "git lfs install" on the command line. I found multiple g

[2022-11-14 03:49] shubhamdp commented on #87
@HomeACcessoryKid thank for pointing it out, will fix this soon.

[2022-11-14 06:14] dhrishi commented on #67
Closing as the original question is answered.

[2022-11-14 06:14] #67 closed

[2022-11-14 06:15] dhrishi commented on #69
Closing this now. Feel free to file a new issue if you need more details

[2022-11-14 06:15] #69 closed

[2022-11-14 07:31] HomeACcessoryKid opened #89 "no proper docker file and image on docker hub does not follow instructions"
The docker file given in tools is not a propor file because it is not complete and does not start with `FROM ubuntu` or similar.
The file should follow the instructions in https://docs.espressif.com/projects/esp-matter/en/main/esp32/developing.html#development-setup

And then the docker hub file should reflect this all.

Please update to idf 4.4.3 as well.

[2022-11-14 07:34] HomeACcessoryKid commented on #87
thanks
while you are at it, please look into #89 as well?

[2022-11-14 09:22] shubhamdp commented on #89
@HomeACcessoryKid docker file is in correct format and it does contain [`FROM` statement](https://github.com/espressif/esp-matter/blob/main/tools/docker/chip-builds#L2).
As it is using some [another base image](https://github.com/project-chip/connectedhomeip/blob/master/integrations/docker/images/chip-build/Dockerfile) that's why it does not contain `FROM ubuntu` or similar statement at the start.

[2022-11-14 10:25] shubhamdp commented on #88
At the moment supported development hosts are:
- macOS 10.15
- Debian 11 (64 bit required)
- Ubuntu 22.04 LTS

Please find more details [here](https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/BUILDING.md#building-matter)

Although esp-matter can be setup on Windows using WSL, this is not documented anywhere (will add this to docs)
- Enable the Windows Subsystem for Linux 2 (

[2022-11-14 12:27] HomeACcessoryKid commented on #89
Yes, the actual docker file starts with a FROM. But the thing it is starting from itself does not have such FROM.
And it is OK it has a different purpose.

I suggest you make a second docker image that provides the environment that you suggest people use in the developing page. And it must be something that I can track back to something official. Else I must build it myself.
I cannot afford a back

[2022-11-14 12:41] HomeACcessoryKid commented on #89
sorry, Only now did I see you created a reference to the docker file that is the source and it does contain a FROM ubuntu.
I doubt however that I would be able to link the two from the information I have available.
But fundamentally, I still hope to get a image that focuses on the 'developing' page.

[2022-11-14 14:08] AlexeyYukhin opened #90 "'light' example is not fully working with Google Nest Hub"
Hi all. I'm trying to launch esp-matter examples for tests and esp-matter SDK study. Then my further goal is to implement Google home integration for smart Door Lock.

I've tried 'light' project. I was able to bind matter device to my Google Nest Hub gen.2 without any problem, using Google Home mobile App. Basic device information (such as device type, firmware version etc.) is readable through Go

[2022-11-15 01:22] jonsmirl commented on #90
The google support is based on CHIP commit 8638802e06fce1501c5c73b40a1d4eae98d076cb which is from July 15. The ESP-matter support is using current CHIP. You can probably get this working by moving esp-matter back to CHIP 8638802e06fce1501c5c73b40a1d4eae98d076cb.  If not you just have to wait for Google to get around to updating their release.

[2022-11-15 02:38] #87 closed

[2022-11-15 06:58] AchimPieters opened #91 "Failed to resolve component 'esp_adc_cal'."
Keep getting this error:

[code]

How can I fix it?

Already did:

- IDF version 4.1, 4.2, 4.3, 4.4 and 5.0 all the same.

[2022-11-15 09:46] dhrishi commented on #90
That's right. The Google Matter SDK for the public release is based on test event 9 (TE9) codebase.

[2022-11-15 14:29] tonywu-uec opened #92 "light example commissioning failed"
I am trying the light example. However it seemed that the commissioning process through chip-tool failed.
Hope someone can give me a hand.

Environment:
Acer Swift 3 running Ubuntu 22.10
ESP-IDF: v4.4.3
git clone from esp-matter on Nov. 15, 2022.
Board: ESP32-C3-DevKitM-1.

In the log file, I can see the WiFi connected successfully.
Later the fail-safe timer expired and commissioning failed.

I al

[2022-11-15 14:39] AlexeyYukhin commented on #90
Thank you guys. I really appreciate this. Please do not close the issue, I will try to find a temporary workaround for this to test it with current Google SDK. If I mange with this I will post here with results.

[2022-11-16 01:48] jonsmirl opened #93 "Adjusting path to common directory in CMakeLists.txt"
Adjusting the path in CMakeLists.txt of the examples allows them to be copied out of tree and still compile....

--- a/examples/lowpan/CMakeLists.txt
+++ b/examples/lowpan/CMakeLists.txt
@@ -27,7 +27,7 @@ include($ENV{IDF_PATH}/tools/cmake/project.cmake)
 include($ENV{ESP_MATTER_DEVICE_PATH}/esp_matter_device.cmake)

 set(EXTRA_COMPONENT_DIRS
-    "../common"
+    "${ESP_MATTER_PATH}/examples/comm

[2022-11-16 07:07] sidhoo22 commented on #80
1. chip-tool commit id ,

2. esp-matter commit id,

[2022-11-16 09:45] dhrishi commented on #80
@sidhoo22 Your chip-tool should be connected to the same Wi-Fi network to which you are connecting the ESP32 to. Can you confirm if you are following this? From the device log, it is seen that after connecting to Wi-Fi it starts advertisement over mDNS but the other side (chip-tool) does not discover it and send Sigma1 CASE message.

The chip-tool log you have shared does not seem to be the correc

[2022-11-16 09:49] dhrishi commented on #92
@tonywu-uec Can you please share the `run.log` in English language.

Your chip-tool log shows that the first part is successful and later on it is unable to find the device on the Wi-Fi (IP) network and hence cannot proceed with the CASE session. Can you confirm if the host running the chip-tool and the ESP32 device are connected to the same Wi-Fi network? This will be required.

[2022-11-16 10:10] sidhoo22 commented on #80
@dhrishi yes, let chiptool connet to the wifi router(ipv6) which the matter dev conneted. and run the onoff cmd, log as follow

[2022-11-16 17:08] tonywu-uec commented on #92
Thanks! Today the example works! I did check they are on the same network where I can ping the device.

However I still could not be able to use Google Home to add the "Bulb". The device was commissioned correctly but the Google Home will simply show "OFF-LINE".

[2022-11-17 07:24] fkkjohn commented on #88
Thank you very much for your reply. I'm making another attempt at the VM since I can now get past my work proxy, but if I still have trouble under native linux, I'll take your advice and try the linux subsystem.

[2022-11-17 08:39] sidhoo22 commented on #80
@jonsmirl i hv no idea could you help me :) thanks

[2022-11-17 13:31] sidhoo22 commented on #82
@Firesuiry hi, i hv met the same issue, ./chip-tool onoff toggle 1234 0x1 failed, can u share how to solve this issue? thanks

[2022-11-17 14:09] Firesuiry commented on #82
I reflash the device and retry it.&nbsp; it successes.&nbsp;&nbsp;
I don not know why but recomand you use 0x1234 instead of 1234.

---Original---
From: "Sid ***@***.***&gt;
Date: Thu, Nov 17, 2022 21:31 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [espressif/esp-matter] chip-tool connect fail, how to solve(Issue #82)

@Firesuiry If you do not have BLE adapter then you can

[2022-11-17 14:15] sidhoo22 commented on #82
@Firesuiry 0x1234 is not work too .

[2022-11-18 02:22] sidhoo22 commented on #82
@Firesuiry erase flash and reflash , repairing. it suceses.  thanks

[2022-11-18 02:27] sidhoo22 commented on #80
@dhrishi problem fixed. cuase the chiptool meachine netif eno1 is not connect with the wifi router, i down (ifconfig eno1 down) the netif , and repairing the device , and it works ! thanks for your help

[2022-11-18 02:27] #80 closed

[2022-11-18 04:07] dhrishi commented on #90
@AlexeyYukhin I would suggest you try with [sve branch](https://github.com/espressif/esp-matter/tree/sve). This might work with Google Home. Just make sure that you update the submodules correctly on this branch, clean and recompile followed by erase and re-flash.

[2022-11-18 05:05] dhrishi commented on #65
Closing this. Feel free to reopen in case of any issue.

[2022-11-18 05:05] #65 closed

[2022-11-18 05:13] dhrishi commented on #63
@VivekPalle @uiabhishek15 Is there any update you would want to share?

[2022-11-18 05:14] dhrishi commented on #59
I will close this now. Please create a new issue, with all the details, if it is still failing.

[2022-11-18 05:14] #59 closed

[2022-11-18 07:36] dhrishi commented on #62
@longnv97 Were you able to resolve this issue? https://github.com/espressif/esp-matter/issues/88#issuecomment-1313440875 shows setting up esp-matter on Windows using WSL. Can you please check if it is helpful?

[2022-11-18 07:38] dhrishi commented on #73
@jonsmirl Can you please check with latest esp-matter main branch. https://github.com/espressif/esp-matter/commit/8183dd3963f1c3f1a78519f4cba911e5ce71a1a9 is added now

[2022-11-18 15:23] tonywu-uec commented on #92
I was curious to know if I can't use Google Home app to test, what else platform shall I use? Apple iPhone? or Alexa?
The chip-tool utility is not acceptable for demonstration purpose.

[2022-11-18 15:40] dhrishi commented on #92
@tonywu-uec Please see the steps here https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/darwin.md for using Apple Home

[2022-11-20 11:16] slompf18 opened #94 "Occupancy sensing not working"
Using the default occupancy sensing configuration, the device is shown as 'Not supported' in the HomeKit app.

This code I use:

[code]

[2022-11-20 13:24] AlexeyYukhin commented on #90
Thanks for your advice. Unfortunately it doesn't work. I am able to bind the device in Google Home App using Google Nest Hub Gen2, but after this the device is shown as 'offline'. I still able to request basic device information (fw version, vendor id etc.), it works. But not device control, as it offline for some reason.

My steps:
1) I swithced to sve branch as you suggested. Then run git submod

[2022-11-20 14:10] jonsmirl commented on #90
Did you try this Codelab?
https://developers.home.google.com/codelabs/matter-device-virtual?hl=en#0

[2022-11-21 09:28] dhrishi commented on #91
@AchimPieters Can you please provide more info -
i. If you see this intermittently or always
ii. A set of steps that can recreate this along with the SoC used, exact commits and/or branches
iii. Does this occur after changing branches in any of the repositories etc.

[2022-11-21 09:47] dhrishi commented on #79
@shun-dgut Closing this as the original issue is addressed. Please create a new one in case you see any problems

[2022-11-21 09:47] #79 closed

[2022-11-21 09:57] jadhavrohit924 commented on #93
Thanks for suggestion @jonsmirl

[2022-11-21 10:42] dhrishi commented on #94
@slompf18 Thanks for reporting the issue. It is a problem on our side and we will fix it. Your changes in the app are correct. The issue is that descriptor cluster is missing in the sensor device type and hence the iOS is not able to recognize it. I have tried by adding it and see that it works as expected.

![Occupancy_None](https://user-images.githubusercontent.com/5638177/203029670-a3880ba3-bdb

[2022-11-22 06:24] #94 closed

[2022-11-22 07:37] dhrishi commented on #63
Closing this issue now. Please create a new one in case you are still facing problems.

[2022-11-23 05:48] tonywu-uec commented on #92
I updated the Google Home App to 2.60.60.5 released on Nov. 21 2022. It can recognize the test device and show on the screen. However the light device shows "off-line" and can not toggle the light on/off. Didn't Google try to change their code to accommodate the latest code in CHIP github repository?

[2022-11-23 13:44] shun-dgut opened #95 "esp32c3 run fail"
environment
macos

run command
./chip-tool interactive start
pairing ble-wifi 0x7283 <ssid> <passphrase> 20202021 3840

firmware log：

[0;32mI (5771) NimBLE: GAP procedure initiated: advertise; [0m
[0;32mI (5781) NimBLE: disc_mode=2[0m
[0;32mI (5781) NimBLE:  adv_channel_map=0 own_addr_type=1 adv_filter_policy=0 adv_itvl_min=40 adv_itvl_max=40[0m
[0;32mI (5791) NimBLE:
[0m
[0;32mI (5801)

[2022-11-23 15:01] jonsmirl commented on #72
So somehow these strings need to end up in the initial flash image.  Looking in the code for CHIP chef I see this..
[code]

That looks like it is taking the values from the ESP Kconfig and moving them over to CHIP. So something similar needs to be added to esp-matter? And then expanded for the missing attributes?

        attribute::create_data_model_revision(cluster, 0);
        attribute::create

[2022-11-24 02:25] swz1314520ll opened #96 "matter's install.sh Installation has some problem."
![image](https://user-images.githubusercontent.com/57180782/203679915-79c1b0c5-f6bc-4c94-8b98-6654d6e7facd.png)
![image](https://user-images.githubusercontent.com/57180782/203680468-f4ce36bb-b0b3-408c-89bf-ec94060ae17c.png)
![image](https://user-images.githubusercontent.com/57180782/203680503-451fc6b9-5fd8-441a-8933-e9f394b06b15.png)
[code]

[code]

[2022-11-24 03:37] shun-dgut opened #97 "Non-matter Device How can I Notify the bridging device of a status change? (CON-323)"
examples/blemesh_bridge
In this example, how will the Matter bridging device be notified if the child device changes its state by a button

[2022-11-24 07:32] shun-dgut commented on #95
The firmware should be fine
There is a problem with chiptool on Mac OS
![image](https://user-images.githubusercontent.com/31812214/203720631-6c48b977-c0ba-4348-b548-b4ec8c1ea0a1.png)

[2022-11-24 08:39] dhrishi commented on #95
@shun-dgut Bug with the MacOS. Please see this: https://github.com/project-chip/connectedhomeip/issues/23435

[2022-11-24 11:32] alibukharai commented on #96
Hi, swz1314520ll. This is the instalation problem. Follow this [method](https://github.com/alibukharai/Blogs/blob/main/ESP-Matter(Demo)/Getting_Started/getting_started_with_matter_esp.md)

[2022-11-24 11:37] alibukharai commented on #62
@longnv97 if the error still presists try this [method](https://github.com/alibukharai/Blogs/blob/main/ESP-Matter(Demo)/Getting_Started/getting_started_with_matter_esp.md)

[2022-11-24 15:36] dhrishi commented on #95
@shun-dgut Will you please close this and track the above issue in the upstream connectedhomeip repo instead?

[2022-11-24 15:38] dhrishi commented on #92
It is work in progress AFAIK

[2022-11-25 01:47] #95 closed

[2022-11-25 03:20] shun-dgut commented on #97
such as the example of a light, the key is pressed to inform the data. But in the blemesh_bridge example, if the state of the child device changes, then how do I notify the APP of the data.

![image](https://user-images.githubusercontent.com/31812214/203893792-d8bc41a4-4ad0-497d-b482-2b542fb70886.png)

[2022-11-25 12:28] AlexeyYukhin commented on #90
no, but it's not anyhow related to esp-matter SDK, as it's about original connectedhomeip repository. And it's onlye about virtual matter device example, while I'm trying to get real hw device (ESP32) working.

[2022-11-25 14:09] jonsmirl commented on #90
Google has updated their Matter support again.
https://developers.home.google.com/matter/release-notes

The CHIP on your device has to match the CHIP on their side for this to work.

[2022-11-25 14:13] jonsmirl commented on #90
Their esp32 instructions...
https://developers.home.google.com/matter/vendors/espressif

Get it working first from their documentation, then you can look and see what commit they are using and move esp-matter onto that commit.

[2022-11-25 14:18] jonsmirl commented on #90
Also, note that while you should be able to get this working, when they update again it is going to stop working. Then you'll have to figure out what release they have moved onto and adjust your devices to match.  Apple, Google and Amazon are all on different commit IDs so this is a major pain to track.  Whenever Matter is actually released everyone should converge onto the same commit ID.

[2022-11-26 08:53] AlexeyYukhin commented on #90
thanks for the reply. So far I've tried to follow this inctructions:
https://developers.home.google.com/matter/vendors/espressif?hl=en

- esp-idf checked out on v4.4.1
- connectedhomeip checked out on v1.0-branch
- submodules updated
- I've created a project in Googe Development console and added Matter integration
![image](https://user-images.githubusercontent.com/83004070/204080473-61d4de78-7f9d

[2022-11-26 17:41] #91 closed

[2022-11-27 03:59] scottgarner opened #98 "light_switch example not working with HomeKit (CON-255)"
Not sure if this is related to #94, but I get an error message in the Home app when using the [light_switch](https://github.com/espressif/esp-matter/tree/main/examples/light_switch) example:

`This accessory is not currently supported by the Home app.`

[2022-11-27 12:59] dhrishi commented on #98
@scottgarner Seems like an actual error message as the light_switch example has OnOff client cluster. It is not supported yet. See the supported device types [here](https://github.com/project-chip/connectedhomeip/blob/master/docs/guides/darwin.md#ensuring-your-matter-accessory-works-with-iosipadostvos)

[2022-11-27 18:21] scottgarner commented on #98
Thanks for the response! I do see `Switch` in that list, which seems to refer to an on/off switch. So the issue is the added group cluster?

Can you suggest how I might get this example working? Just removing the cluster-related lines doesn't appear to change anything, so I assume some additional setup is required.

[2022-11-28 06:31] InfiniteYuan commented on #97
Hi, in the blemesh_bridge example, there is no implement to get the state changes of the bridged device(Non-Matter).

In a Matter bridge device, a similar API(As you mentioned) is still used to update the state of the bridged device.

[2022-11-28 07:55] dhrishi commented on #98
@scottgarner Oops. I totally missed seeing the entry. We will verify it and get back.

Do you want to build a light_switch that can subscribe to and/or control (on, off, toggle) an OnOff server, like a light?

[2022-11-28 18:58] scottgarner commented on #98
Basically I want some buttons connected to an ESP 32 that I can attach behaviors to in HomeKit (toggle lights, change scenes, etc.).

I think that means I want what Matter calls `OnOffSwitch`, which should show up as what Apple calls `Switch`?

[2022-11-29 06:12] jadhavrohit924 commented on #98
@scottgarner  Yes, `This accessory is not currently supported by the Home app`. Looks like some issue at Apple's end. We will check with them and update

[2022-11-29 08:16] Kristian8606 opened #99 "Esp32U support ?"
How im to compile and build example for esp32 U with single core cpu?

[2022-11-30 06:33] shun-dgut opened #100 "blemesh_bridge example cannot control ble mesh sub-device"
I tried to set up the environment as follows
[ blemesh_bridge ](https://github.com/espressif/esp-matter/tree/main/examples/blemesh_bridge#readme)

But when opening and closing the mesh child node, it is uncontrollable

Below is the log debugging tools

[chiptool_bridge.txt](https://github.com/espressif/esp-matter/files/10120244/chiptool_bridge.txt)

[2022-11-30 16:53] slompf18 commented on #94
Thanks, its working now.

[2022-11-30 23:55] jonsmirl commented on #98
The Light Switch is only for binding to a light bulb, it is not what you are looking for. What you want is a Generic Switch. esp-matter does not have a sample for generic switch but it is not hard to convert the light switch sample over to become a generic switch.   Light Switch is likely never going to be supported in IOS -- because iOS is not a Light Bulb -- so the error is to be expected.

I ha